.buttonCss{
    color: white;
    background: #1d40aa;
    border: none;
    border-radius: 4px;
    height: 30px;
    padding: 5px;
}
.errDisplay{box-shadow: 0px 0px 3px 0px red;}
.errMsg{    font-size: 11px;
    color: red;}
.userPopup1 {
    display: none;
    border-radius: 10px;
    position: fixed;
    width: 698px;
    left: 50%;
    margin-left: -282px;
    top: 14%;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    background: #fff;
    animation: alertshow .2s ease;
    border-radius: 10px;
}

.Popup2 {
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
    display: block;
    font-family: 'Roboto', sans-serif;
    line-height: 1.42857143;
    color: #333;
    webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Popup3 {
    text-align: center;
    border-top: 1px solid #ccc;
    -webkit-user-select: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.viewLabel {
    width: 5cm;
  }

.userViewPopup1{
  display: none;
  border-radius: 10px;
  position: fixed;
  width: 488px;
  left: 50%;
  margin-left: -186px;
  top: 20%;
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  background: #fff;
  animation: alertshow .2s ease;
  border-radius: 10px;
}
.Usermessage {
    display: none;
    border-radius: 10px;
    position: fixed;
    width: 196px;
    left: 50%;
    margin-left: -50px;
    top: 30%;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    background: #fff;
    animation: alertshow .2s ease;
    border-radius: 10px;
  }
  .dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #0094ff;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }
.menuDisplay{    background-color: #f1eeee;
  padding: 1.5px;
  display: none;
  border-radius: 5px;}





@media only screen and (max-width: 768px) {
  .imageDiv{width: 55px;}
  .editDiv {
    width: unset;
    padding: 0;
    height: 11cm;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .userPopup1 {
    width: 300px !important;
    margin-left: -150px !important;
  }

  .mobileWidth {
    width: 7cm !important;
  }
  .userViewPopup1{
    width: 300px !important;
    margin-left: -151px !important;
  }
  .viewLabel {
    width: 3.5cm !important;
  }
}
