<div id="outerDiv">
    <!-- <button class="buttonCss" style="color: white;" routerLink="/signup">Add User</button><br><br> -->
    <button style="color: white;background: #1d40aa;border: none;border-radius: 4px;height: 36px;padding: 5px 5px 5px 8px;width: 110px;" (click)="navigate('/signup')"><div style="display: flex;"><i data-feather="plus-circle"></i> &nbsp;&nbsp;&nbsp;Add User</div></button><br><br>
    <table datatable class="table table-striped table-bordered table-sm row-border hover display nowrap" [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger" style="width:100%">
        <thead>
            <tr>
                <th class="imageDiv">&nbsp;&nbsp;&nbsp;</th>
                <th class="User_ID">User Id</th>
                <th class="Created_By">Name</th>
                <!-- <th class="Insurance_exp_date">Email</th> -->
                <th class="Make">Mobile No</th>
                <th class="Model">Role</th>
                <th class="UserType">User Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of data" height="55px">
                <td>
                    <div style="display: flex;" class="imageDiv">
                        <div (click)="viewData('edit',user.UserId)">
                            <img src="assets/images/edit-icon3.png" style="height: 22px;">
                        </div>&nbsp;&nbsp;
                        <div (click)="viewData('view',user.UserId)">
                            <img src="assets/images/eye-icon2.png" style="height: 20px;">
                        </div>
                    </div>
                </td>
                <td class="Id">{{ user.UserId }}</td>
                <td class="Name">{{ user.FirstName }}&nbsp;{{ user.LastName }}</td>
                <!-- <td class="Insurance_exp_date">{{ user.Email }}</td> -->
                <td class="Mobile">{{ user.Mobile }}</td>
                <td class="Role">{{ user.Role }}</td>
                <td class="User_Type">{{ user.User_Type }}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Edit Popup start -->

<div class="addFieldPopupTop" id="editPopupUser">
    <div class="userPopup1">
        <div class="Popup2" style="max-height:12cm;overflow-y: scroll;">
            <div
            style="height: 35px;text-align: center ;background-color: #2569a1;padding-top: 7px;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                User Details
            </div>
            <div style="padding: 0px 20px;text-align: center;">
                <div class="editDiv">
                    <div class="grid grid-cols-8 gap-12">
                        <div class="col-span-12 lg:col-span-8 xxl:col-span-9">
                            <!-- BEGIN: Personal Information -->
                            <div class="intro-y box lg:mt-5">
                                <!-- <div class="flex items-center p-5 border-b border-gray-200 dark:border-dark-5">
                                <h2 class="font-medium text-base mr-auto">
                                    Personal Information
                                </h2>
                            </div> -->
                                <div class="p-5 mobileWidth" style="padding:11px !important;">
                                    <div class="grid grid-cols-12 gap-3">
                                        <div class="col-span-12 xl:col-span-6">
                                            <!-- <div class="mt-3">
                                                <label>User Name</label>
                                                <input type="text" class="input w-full border mt-2 inputWidth" id="editsUserName" name="UserName" placeholder="Userame">
                                                <span class="unameErr errMsg"></span>
                                            </div> -->
                                            <div class="mt-3">
                                                <label>First Name</label>
                                                <input type="text" class="input w-full border mt-2 inputWidth" id="editName" name="names"
                                                    placeholder="First Name">
                                                <span class="editnameErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Last Name</label>
                                                <input type="text" class="input w-full border mt-2 inputWidth" id="editSurname" name="surname"
                                                    placeholder="Last Name">
                                                <span class="editSurnameErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Email</label>
                                                <input type="email" class="input w-full border mt-2 inputWidth" placeholder="Email" id="editemail">
                                                <span class="emailErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Mobile No.</label>
                                                <input class="input w-full border mt-2 inputWidth"  id="editmobile" placeholder="Mobile Number" (keypress)="KeyPressEvent($event,'Mobile')" (keyup)="ValidateNumber($event)"
                                                placeholder="Mobile" inputmode="numeric" onKeyPress="if(this.value.length==10) return false;" pattern="[0-9]*"
                                                maxlength="10">
                                                <span class="mobileErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>User Type</label>
                                                <div class="mt-2 inputWidth">
                                                    <select data-search="true" class="tail-select w-full" id="userTypeDash" style="height: 38px;border: 1px solid #dee2e6;border-radius: 8px;">
                                                        <option value="">Select User Type</option>
                                                        <option value="Desktop">Desktop</option>
                                                        <option value="Mobile">Mobile</option>
                                                    </select>
                                                    <span class="userTypeDashErr errMsg"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-span-12 xl:col-span-6">
                                            <div class="mt-3">
                                                <label>Role</label>
                                                <div class="mt-2 inputWidth">
                                                    <select data-search="true" (change)="selectMenu()" class="tail-select w-full" id="editrole" style="height: 38px; border:1px solid #dee2e6;">
                                                        <option value="">Select Role</option>
                                                        <option value="Admin">Admin</option>
                                                        <option value="Supervisor">Supervisor</option>
                                                        <option value="GateUser">Gate User</option>
                                                    </select>
                                                    <span class="roleErr errMsg"></span>
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <label>Password</label>
                                                <input id="editpassword" type="password" class="input w-full border mt-2 inputWidth" placeholder="Password">
                                                <span class="passwordErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Confirm Password</label>
                                                <input id="editconfirmPassword" type="password" class="input w-full border mt-2 inputWidth" placeholder="Confirm Password">
                                                <span class="cpasswordErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Menu Options</label><br>
                                                <div id="list2" class="dropdown-check-list mt-2 w-full inputWidth" tabindex="100">
                                                    <span class="anchor" (click)="showCheckbox()" style="min-height: 39px;max-height: fit-content;width: 100%;border: 1px solid #dee2e6;border-radius: 8px;">
                                                        <span id="editmenuOptionNone" >Select Menu Options </span>&nbsp;
                                                        <span id="editmenuOptionUsers" class="menuDisplay">Users </span>&nbsp;
                                                        <span id="editmenuOptionVehicles" class="menuDisplay">Vehicles </span>&nbsp;
                                                        <span id="editmenuOptionInbound" class="menuDisplay">InboundProcess </span>&nbsp;
                                                        <span id="editmenuOptionOutbound" class="menuDisplay">OutboundProcess </span>&nbsp;
                                                        <span id="editmenuOptionRegister" class="menuDisplay">RegisterCard </span>&nbsp;
                                                    </span>
                                                    <ul class="items" style="position: absolute;background-color: white;width: 286px;padding-left: 13px;text-align:initial">
                                                      <li><input id="editcheckUsers" type="checkbox" (click)="menuVal($event.target.checked,'users')"/>&nbsp;&nbsp;&nbsp;&nbsp;Users</li>
                                                      <li><input id="editcheckVehicles" type="checkbox" (click)="menuVal($event.target.checked,'vehicles')"/>&nbsp;&nbsp;&nbsp;&nbsp;Vehicles</li>
                                                      <li><input id="editcheckInbound" type="checkbox" (click)="menuVal($event.target.checked,'inboundProcess')"/>&nbsp;&nbsp;&nbsp;&nbsp;Inbound Process </li>
                                                      <li><input id="editcheckOutbound" type="checkbox" (click)="menuVal($event.target.checked,'outboundProcess')"/>&nbsp;&nbsp;&nbsp;&nbsp;Outbound Process </li>
                                                      <li><input id="editcheckRegister" type="checkbox" (click)="menuVal($event.target.checked,'registerCard')"/>&nbsp;&nbsp;&nbsp;&nbsp;Register Card </li>
                                                    </ul>
                                                  </div>
                                            </div>
                                            <div class="mt-3">
                                                <label>Emp Code.</label>
                                                <input class="input w-full border mt-2 inputWidth" id="emp_codeDash" placeholder="Emp Code"
                                                    (keypress)="KeyPressEvent($event,'Mobile')" (keyup)="ValidateNumber($event)" inputmode="numeric"
                                                    onKeyPress="if(this.value.length==10) return false;" pattern="[0-9]*" maxlength="10">
                                                <span class="emp_codeDashErr errMsg"></span>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="" style="text-align: center;">
                                    </div>
                                </div>
                            </div>
                            <!-- END: Personal Information -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Popup3" style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button type="button" (click)="validateEdit()" style="color:white;width: 3cm;">Update</button>
            <button type="button" (click)="closeEdit()"  style="color:white;width: 3cm;">Cancel</button>
        </div>
    </div>
</div>
<!-- Edit Popup finish -->

<!-- View Popup start -->

<div class="addFieldPopupTop" id="viewPopupTop">
    <div class="userViewPopup1">
        <div class="Popup2">
            <div
            style="height: 35px;text-align: center ;background-color: #2569a1;padding-top: 7px;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                User Details
            </div>
            <div style="padding: 28px;">
                <!-- <b> -->
                    <label class="viewLabel">User ID:</label><span id="ViewUserUserId"></span><br>
                <!-- </b> -->
                <!-- <b> -->
                    <label class="viewLabel">Name: </label> <span id="ViewUserName"></span><br>
                <!-- </b> -->
                <!-- <b> -->
                    <label class="viewLabel">Email:</label><span id="ViewUserEmail"></span><br>
                <!-- </b> -->
                <!-- <b> -->
                    <label class="viewLabel">Mobile Number:</label><span id="ViewUserMobile"></span><br>
                <!-- </b> -->
                <!-- <b><label class="viewLabel">Model: </label><span id="ViewModel"></span><br></b> -->
                <!-- <b> -->
                    <label class="viewLabel">Role: </label><span id="ViewUserRole"></span><br>
                <!-- </b> -->
                <!-- <b> -->
                    <label class="viewLabel">Created By:</label> <span id="ViewUserCreated_By"></span><br>
                <!-- </b> -->
                <!-- <b> -->
                    <label class="viewLabel">Created On: </label><span id="ViewUserCreated_On"></span><br>
                <!-- </b> -->
                <!-- <b><label class="viewLabel">Modified By:</label><span id="ViewUserModified_By"></span><br></b> -->
                <!-- <b><label class="viewLabel">Modified On:</label><span id="ViewUserModified_On"></span><br></b> -->
                <!-- <b> -->
                    <label class="viewLabel">Status:</label> <span id="ViewUserStatus"></span><br>
                <!-- </b> -->
                <br>
                <!-- <div style="text-align: center;"><button class="buttonCss" (click)="hideView()">Close</button></div> -->
            </div>
        </div>
        <div class="Popup3" style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
        <button (click)="hideView()" style="color:white;width: 3cm;">OK</button>
        <!-- <button class="button2Css" (click)="hideView()"><img src="assets/images/ok-icon.png" style="height: 20px;"></button>&nbsp;&nbsp;&nbsp; -->
        <!-- <button class="button2Css" (click)="hideView()"><img src="assets/images/cancel-icon.png" style="height: 20px;"></button> -->
      </div>
    </div>
</div>
<!-- View Popup finish -->

<!-- Message Popup start -->
<div>
    <div class="Usermessage">
        <div class="Popup2">
            <div
            style="height: 27px;text-align: center ;background-color: #2569a1;padding: 0;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                
            </div>
            <div style="padding: 28px;">
                {{Message}}
            </div>
        </div>
        <div class="Popup3 UserPopupMessagebutton" style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button class="" (click)="hideMessagePopup()" style="color:white;width: 3cm;">OK</button>
            <!-- <button class="button2Css" (click)="hideMessagePopup()"><img src="assets/images/ok-icon.png" style="height: 20px;"></button>&nbsp;&nbsp;&nbsp; -->
            <!-- <button class="button2Css" (click)="hideMessagePopup()"><img src="assets/images/cancel-icon.png" style="height: 20px;"></button> -->
        </div>
    </div>
</div>
<!-- Message Popup finish -->