 <!-- <div class="outerdiv" style="max-width: 540px;margin: 5% auto;">
    <div style="padding: 15px;">
        <div id="Message">{{Message}}</div>
        <label>Book No</label>
        <input type="text" placeholder="Book No" id="BookNo" class="inputWidth"><br>
        <label>Vehicle No</label>
        <input type="text" placeholder="Vehicle No" id="VehicleNo" class="inputWidth">&nbsp;<button class="Button"
            (click)=checkHistory()>Check Vehicle</button><br>
        <div id="hiddenFields" style="display: none;">
            <label>Make</label>
            <input type="text" placeholder="Make" id="Make1" class="inputWidth" disabled><br>
            <label>Model</label>
            <input type="text" placeholder="Model" id="Model1" class="inputWidth" disabled><br>
            <label>Insurance exp date</label>
            <input type="text" placeholder="Insurance exp date" id="Insurance_exp_date" class="inputWidth" disabled><br>
            <label>PUC exp date</label>
            <input type="text" placeholder="PUC exp date" id="PUC_exp_date" class="inputWidth" disabled><br>
        </div>
        <label>Material</label>
        <input type="text" placeholder="Material" id="Material" class="inputWidth" disabled><br>
        <label>Material Type</label>
        <input type="text" placeholder="Material Type" id="Material_Type" class="inputWidth" disabled><br>
        <label>Issued By</label>
        <input type="text" placeholder="Issued By" id="Issued_By" class="inputWidth" disabled><br>
        <label>Issued Date</label>
        <input type="text" placeholder="Issued Date" id="Issued_Date" class="inputWidth" disabled><br>
        <label>Driver Name</label>
        <input type="text" placeholder="Driver Name" id="Driver_Name" class="inputWidth" disabled><br>
        <label>Driver Number</label>
        <input type="text" placeholder="Driver Number" id="Driver_Number" class="inputWidth" disabled><br>
        <label>Time</label>
        <input type="text" placeholder="Time" id="Time" class="inputWidth" disabled><br>
        <label>Consignee Name</label>
        <input type="text" placeholder="Consignee Name" id="Consignee_Name" class="inputWidth" disabled><br>
        <label>Address</label>
        <input type="text" placeholder="Address" id="Address" class="inputWidth" disabled><br>
        <label>Trip No</label>
        <input type="text" placeholder="Trip No" id="Trip_No" class="inputWidth" disabled><br>
        <label>Gross Weight</label>
        <input type="text" placeholder="Gross Weight" id="Gross_Weight" class="inputWidth" disabled><br>
        <label>Tare Weight</label>
        <input type="text" placeholder="Tare Weight" id="Tare_Weight" class="inputWidth" disabled><br>
        <label>Net Weight</label>
        <input type="text" placeholder="Net Weight" id="Net_Weight" class="inputWidth" disabled><br>
        <button id="addVehicleData" class="Button" (click)="validate()" disabled>Add</button>
    </div>
</div> -->
<div class="content" id="OutVehicleNumberForm">
    <div class="intro-y flex items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Get Vehicle Data
        </h2>
    </div>
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 lg:col-span-8 xxl:col-span-9">
            <div class="intro-y box lg:mt-5 rdiv">
                <div class="p-5" style="padding:11px !important;">
                    <div class="grid grid-cols-12 gap-5">
                        <div class="col-span-12 xl:col-span-6">
                            <div>
                                <label>Vehicle Number</label><br>
                                <input type="text" class="input w-full border mt-2" id="checkOutVehicleNumber" placeholder="Vehicle Number">
                                <span class="nameErr errMsg"></span>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-start mt-1" style="padding-top: 12px;">
                        <button type="button" class="buttonCss" (click)="validateVehicleNumber()">Check</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content" id="outboundForm">
    <div class="intro-y flex items-center mt-8">
        <span style="font-size: 20px;">Add Outbound vehicle</span>
    </div>
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 lg:col-span-8 xxl:col-span-9">
            <!-- BEGIN: Personal Information -->
            <div class="intro-y box lg:mt-5">
                <!-- <div class="flex items-center p-5 border-b border-gray-200 dark:border-dark-5">
                    <h2 class="font-medium text-base mr-auto">
                        Personal Information
                    </h2>
                </div> -->
                <div class="p-5" style="padding:11px !important;">
                    <div class="grid grid-cols-12 gap-3">
                        <div class="col-span-12 xl:col-span-6">
                            <!-- <div >
                                <label>Trip No</label>
                                <input type="text" class="input w-full border mt-2 inputWidth" id="Trip_No" name="namesurname" placeholder="Trip No">
                                <span class="Trip_NoErr errMsg"></span>
                            </div> -->
                            <div class="">
                                <label>Make</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Make" id="vehicleMake">
                                <span class="vehicleMakeErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Insurance exp date</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Insurance exp date" id="vehicleInsurance_exp_date">
                                <span class="vehicleInsurance_exp_dateErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Material</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Material" id="Material">
                                <span class="MaterialErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Issued By</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Issued By" id="Issued_By">
                                <span class="Issued_ByErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Driver Name</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Driver Name" id="Driver_Name">
                                <span class="Driver_NameErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Consignee Name</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Consignee Name" id="Consignee_Name" >
                                <span class="Consignee_NameErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Quantity Material Weight</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth"  placeholder="Gross Weight" id="outqty_mt_Weight">
                                <span class="outqty_mt_WeightErr errMsg"></span>
                            </div>
                            <!-- <div class="mt-3">
                                <label>Gross Weight</label>
                                <input type="text" class="input w-full border mt-2 inputWidth"  placeholder="Gross Weight" id="Gross_Weight">
                                <span class="Gross_WeightErr errMsg"></span>
                            </div> -->
                            <!-- <div class="mt-3">
                                <label>Net Weight</label>
                                <input type="text" class="input w-full border mt-2 inputWidth"  placeholder="Net Weight" id="Net_Weight">
                                <span class="Net_WeightErr errMsg"></span>
                            </div> -->
                        </div>
                        <div class="col-span-12 xl:col-span-6">
                            <div>
                                <label>Vehicle No</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Vehicle No" id="Vnumber">
                                <span class="VnumberErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Model</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Model" id="VehicleModel">
                                <span class="VehicleModelErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>PUC exp date</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="PUC exp date" id="VPUC_exp_date">
                                <span class="VPUC_exp_dateErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Material Type</label><br>
                                <!-- <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Material Type" id="Material_Type"> -->
                                <div class="mt-2 inputWidth">
                                    <select data-search="true" class="tail-select w-full" id="Material_Type" style="height: 38px;">
                                        <option value="">Select Material Type</option>
                                        <option value="Admin">Iron</option>
                                        <option value="Manager">Steel</option>
                                    </select>
                                </div>
                                <span class="Material_TypeErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Issued Date</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Issued Date" id="Issued_Date">
                                <span class="Issued_DateErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Driver Number</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Driver Number" id="Driver_Number">
                                <span class="Driver_NumberErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Address</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Address" id="Address">
                                <span class="AddressErr errMsg"></span>
                            </div>
                            <!-- <div class="mt-3">
                                <label>Tare Weight</label>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Tare Weight" id="Tare_Weight">
                                <span class="Tare_WeightErr errMsg"></span>
                            </div> -->
                        </div>
                    </div>
                    <div class="flex justify-end mt-4">
                        <!-- <a href="" class="text-theme-6 flex items-center"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete Account </a> -->
                        <button type="button" class="button w-20 bg-theme-1 text-white ml-auto" (click)="validate()">Add</button>
                    </div>
                </div>
            </div>
            <!-- END: Personal Information -->
        </div>
    </div>
</div>

 <!--  Popup start -->

 <div class="addFieldPopupTop" id="addFieldPopupTop">
    <div class="Popup1" id="addFieldPopup">
      <div class="Popup2">
        <div
          style="height: 27px;text-align: center ;background-color: #f6f6f6;padding: 3px;font-weight: 700;color: #5a5656;">
          Note
        </div>
        <div style="padding: 28px;text-align: center;">
         <b> {{Message}}</b>
        </div>
      </div>
      <div class="Popup3" style="height: 30px;padding: 4px;">
        <button class="Popupbutton"  (click)="hidePopup()">OK</button>
      </div>
    </div>
  </div>
  <!--  Popup finish -->