<div class="app light" style="background-color: #0067ac;padding: 10px;">
    <!-- BEGIN: Mobile Menu -->
    <div class="mobile-menu md:hidden">
        <div class="mobile-menu-bar">
            <a href='' class="flex mr-auto">
                <img class="w-6" src="assets/images/logo.jpeg" style="height: 28px;width: 62px;border-radius: 3px;">
            </a>
            <a id="mobile-menu-toggler" (click)="menuToggleMobile()"> <i data-feather="bar-chart-2"
                    class="w-8 h-8 text-white transform -rotate-90"></i> </a>
        </div>
        <ul class="border-t border-theme-24 py-5 hidden menuToggleMobile">
            <li class="mobileGate">
                <span class="menu" (click)="hideshowMobile($event,'Gate1mobile')">
                    <div class="menu__icon"> <i data-feather="home"></i> </div>
                    <div class="menu__title"> Gate Process</div>
                    <div style="width: 70%; text-align: right;">
                        <i class="fa-solid fa-chevron-left gateprocess"></i>
                    </div>
                </span>
                <ul class="Gate1mobile">
                    <li>
                        <span class="menu" (click)="hideshowMobile($event,'Gate2mobile')">
                            <div class="menu__icon"> <i data-feather="arrow-left-circle"></i> </div>
                            <div class="menu__title"> Gate In </div>
                            <div style="width: 100%; text-align: right;">
                                <i class="fa-solid fa-chevron-left gatein"></i>
                            </div>
                        </span>
                        <span class="menu">
                            <div class="menu__icon"> <i data-feather="arrow-right-circle"></i> </div>
                            <!-- <div class="menu__title" routerLink="/outBoundDashboard" > Gate Out </div> -->
                            <div class="menu__title" (click)="navigate('/outBoundDashboard')"> Gate Out </div>
                        </span>
                        <ul class="Gate2mobile">
                            <li>
                                <span class="menu">
                                    <div class="menu__icon">
                                        <div style="display: flex;width: 31px;"><i data-feather="arrow-left"></i><i
                                                data-feather="truck"></i></div>
                                    </div>
                                    <!-- <div class="menu__title" routerLink="/inBound/inhouse"> Inhouse </div> -->
                                    <div class="menu__title" (click)="navigate('/inBound/inhouse')"> JBM Vehicle </div>
                                </span>
                                <span class="menu">
                                    <div class="menu__icon">
                                        <div style="display: flex;width: 31px;"><i data-feather="arrow-right"></i><i
                                                data-feather="truck"></i></div>
                                    </div>
                                    <!-- <div class="menu__title" routerLink="/outbound"> Outhouse </div> -->
                                    <div class="menu__title" (click)="navigate('/outbound')"> Other Vehicle </div>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mobileUsers">
                <span class="menu" (click)="hideshowMobile($event,'usersOption')">
                    <div class="menu__icon"> <i data-feather="users"></i> </div>
                    <!-- <div class="menu__title" routerLink="/users"> Users </div> -->
                    <div class="menu__title" (click)="navigate('/users')"> Users </div>
                </span>
                <!-- <ul class="usersOption">
                    <li>
                        <a class="menu">
                            <div class="menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="menu__title" routerLink="/users"> All Users </div>
                        </a>
                    </li>
                </ul> -->
            </li>
            <li class="mobileVehicles">
                <span class="menu">
                    <div class="menu__icon"> <i data-feather="truck"></i> </div>
                    <!-- <div class="menu__title" routerLink="/dashboard"> Vehicles </div> -->
                    <div class="menu__title" (click)="navigate('/dashboard')"> Vehicles </div>
                </span>
                <!-- <ul class="vehiclesOption">
                    <li>
                        <a class="menu">
                            <div class="menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="menu__title" routerLink="/dashboard"> Vehicle List </div>
                        </a>
                    </li>
                    <li>
                        <a class="menu">
                            <div class="menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="menu__title" routerLink="/inBoundDashboard"> Inbound Vehicles</div>
                        </a>
                    </li>
                    <li>
                        <a class="menu">
                            <div class="menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="menu__title" routerLink="/outBoundDashboard"> Outbound Vehicles</div>
                        </a>
                    </li>
                </ul> -->
            </li>
            <li class="mobileInboundProcess">
                <span class="menu">
                    <div class="menu__icon"> <i data-feather="arrow-down-circle"></i> </div>
                    <!-- <div class="menu__title" routerLink="/inBoundDashboard"> Inbound Process </div> -->
                    <div class="menu__title" (click)="navigate('/inBoundDashboard')"> Trip Master </div>
                </span>
            </li>
            <li class="mobileGetCardInfo">
                <span class="menu">
                    <div class="menu__icon"> <i data-feather="arrow-down-circle"></i> </div>
                    <div class="menu__title"> Get Card Info </div>
                </span>
            </li>
            <li class="mobileTripReprint">
                <span class="menu">
                    <div class="menu__icon"> <i data-feather="arrow-down-circle"></i> </div>
                    <div class="menu__title"> Trip Reprint </div>
                </span>
            </li>
            <!-- <li class="mobileOutboundProcess">
                <a class="menu" >
                    <div class="menu__icon"> <i data-feather="arrow-up-circle"></i> </div>
                    <div class="menu__title" routerLink="/outBoundDashboard"> Outbound Process</div>
                </a>
            </li> -->
            <!-- <li class="mobileRegisterCard">
                <a class="menu">
                    <div class="menu__icon"> <i data-feather="credit-card"></i> </div>
                    <div class="menu__title"> Register Card </div>
                </a>
            </li> -->
        </ul>
    </div>
    <!-- END: Mobile Menu -->
    <div class="flex">
        <!-- BEGIN: Side Menu -->
        <nav class="side-nav">
            <span class="intro-x flex items-center pl-5 pt-4">
                <div (click)="hideMenuNames()"><i data-feather="bar-chart-2"
                        class="w-8 h-8 text-white transform -rotate-90"></i></div>
                <a href=""><img class="w-6 hideMenuOnClick" src="assets/images/logo.jpeg"
                        style="height: 32px;width: 89px;border-radius: 3px;"></a>
                <!-- <span class="hidden xl:block text-white text-lg ml-3 hideMenuOnClick"> J<span class="font-medium">BM</span> </span> -->
            </span>
            <div class="side-nav__devider my-6"></div>
            <ul class="disableOnClick" style="padding-left: 0px;">
                <!-- <li class="desktopUsers">
                    <a class="side-menu users">
                        <div class="side-menu__icon"> <i data-feather="users"></i> </div>
                        <div class="side-menu__title"> Users <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
                    </a>
                    <ul class="usersOption">
                        <li>
                            <a class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title" routerLink="/users"> All Users </div>
                            </a>
                        </li>
                        <li>
                            <a class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title" routerLink="/signup"> Register </div>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <li class="desktopGate">
                    <span class="side-menu vehicles" (click)="hideshow($event,'vehiclesOption')">
                        <div class="side-menu__icon disableOnClick"> <i data-feather="home"></i> </div>
                        <div class="side-menu__title side-menu--open hideMenuOnClick"> Gate Process</div>
                        <div style="width: 70%; text-align: right;">
                            <i class="fa-solid fa-chevron-left gateprocess"></i>
                        </div>
                    </span>
                    <ul class="vehiclesOption">
                        <div id="subs">
                            <li>
                                <span class="side-menu" (click)="hideshow($event,'Gate1Option')">
                                    <div class="side-menu__icon"> <i data-feather="arrow-left-circle"></i> </div>
                                    <div class="side-menu__title"> Gate In </div>
                                    <div style="width: 100%; text-align: right;">
                                        <i class="fa-solid fa-chevron-left gatein"></i>
                                    </div>
                                </span>
                                <ul class="Gate1Option">
                                    <li>
                                        <span class="side-menu">
                                            <div class="side-menu__icon">
                                                <div style="display: flex;width: 31px;"><i
                                                        data-feather="arrow-left"></i><i data-feather="truck"></i></div>
                                            </div>
                                            <!-- <div class="side-menu__title" routerLink="/inBound/inhouse" [queryParams]="{sessionID:{{serviceCall.sessionID}} }"> Inhouse </div> -->
                                            <div class="side-menu__title" (click)="navigate('/inBound/inhouse')"> JBM
                                                Vehicle </div>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="side-menu">
                                            <div class="side-menu__icon">
                                                <div style="display: flex;width: 31px;"><i
                                                        data-feather="arrow-right"></i><i data-feather="truck"></i>
                                                </div>
                                            </div>
                                            <!-- <div class="side-menu__title" routerLink="/outbound"> Outhouse</div> -->
                                            <div class="side-menu__title" (click)="navigate('/outbound')"> Other Vehicle
                                            </div>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="arrow-right-circle"></i> </div>
                                    <!-- <div class="side-menu__title" routerLink="/outBoundDashboard"> Gate Out</div> -->
                                    <div class="side-menu__title" (click)="navigate('/outBoundDashboard')"> Gate Out
                                    </div>
                                </span>
                            </li>
                        </div>
                    </ul>
                </li>
                <li class="desktopUsers">
                    <!-- <a class="side-menu users desktopUsersOption" (click)="addActive('desktopUsersOption')"> -->
                    <span class="side-menu users">
                        <div class="side-menu__icon disableOnClick"> <i data-feather="users"></i> </div>
                        <!-- <div class="side-menu__title hideMenuOnClick" routerLink="/users"> Users </div> -->
                        <div class="side-menu__title hideMenuOnClick" (click)="navigate('/users')"> Users </div>
                    </span>
                </li>
                <li class="desktopVehicles">
                    <span class="side-menu vehicles">
                        <div class="side-menu__icon disableOnClick"> <i data-feather="truck"></i> </div>
                        <!-- <div class="side-menu__title side-menu--open hideMenuOnClick" routerLink="/dashboard"> Vehicles</div> -->
                        <div class="side-menu__title side-menu--open hideMenuOnClick" (click)="navigate('/dashboard')">
                            Vehicles</div>
                    </span>
                    <!-- <ul class="vehiclesOption">
                        <li>
                            <a class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title" routerLink="/dashboard"> Vehicle List </div>
                            </a>
                        </li>
                        <li>
                            <a class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title"  routerLink="/inBoundDashboard"> Inbound Vehicles</div>
                            </a>
                        </li>
                        <li>
                            <a class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title"  routerLink="/outBoundDashboard"> Outbound Vehicles</div>
                            </a>
                        </li>
                    </ul> -->
                </li>
                <li class="desktopInboundProcess">
                    <span class="side-menu users">
                        <div class="side-menu__icon disableOnClick"> <i data-feather="arrow-down-circle"></i> </div>
                        <!-- <div class="side-menu__title hideMenuOnClick" routerLink="/inBoundDashboard"> Inbound Process</div> -->
                        <div class="side-menu__title hideMenuOnClick" (click)="navigate('/inBoundDashboard')"> Trip
                            Master</div>
                    </span>
                </li>
                <li class="desktopGetCardInfo">
                    <span class="side-menu users">
                        <div class="side-menu__icon disableOnClick"> <i data-feather="arrow-down-circle"></i> </div>
                        <div class="side-menu__title hideMenuOnClick"> Get Card Info</div>
                    </span>
                </li>
                <li class="desktopTripReprint">
                    <span class="side-menu users">
                        <div class="side-menu__icon disableOnClick"> <i data-feather="arrow-down-circle"></i> </div>
                        <div class="side-menu__title hideMenuOnClick"> Trip Reprint</div>
                    </span>
                </li>
                <!-- <li class="desktopOutboundProcess">
                    <a class="side-menu users">
                        <div class="side-menu__icon"> <i data-feather="arrow-up-circle"></i> </div>
                        <div class="side-menu__title" routerLink="/outBoundDashboard"> Outbound Process</div>
                    </a>
                </li> -->
                <!-- <li class="desktopRegisterCard">
                    <a class="side-menu users">
                        <div class="side-menu__icon"> <i data-feather="credit-card"></i> </div>
                        <div class="side-menu__title hideMenuOnClick"> Register Card</div>
                    </a>
                </li> -->
            </ul>
        </nav>
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content" style="overflow:hidden !important;">
            <!-- BEGIN: Top Bar -->
            <div class="top-bar">
                <!-- BEGIN: Breadcrumb -->
                <div class="-intro-x breadcrumb mr-auto hidden sm:flex" id="header101"></div>
                <div class="-intro-x breadcrumb mr-auto hidden sm:flex" style="padding-top: 17px;">USER : &nbsp;<b>
                        {{UserName}} </b> &nbsp;|&nbsp; ROLE :&nbsp; <b> {{Role}} </b></div>
                <!-- END: Breadcrumb -->
                <!-- BEGIN: Account Menu -->
                <div class="intro-x dropdown w-8 h-8" style="padding-top: 5px;">
                    <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in"
                        style="height: 23px;width: 23px;">
                        <!-- <img src="assets/new/dist/images/profile-7.jpg"> -->
                        <img src="assets/images/profileIcon.jpg">
                    </div>
                    <div class="dropdown-box w-56">
                        <div class="dropdown-box__content box bg-theme-38 dark:bg-dark-6 text-white">
                            <div class="p-4 border-b border-theme-40 " style="background-color: #0067ac;">
                                <div class="font-medium">{{UserName}}</div>
                                <div class="text-xs text-theme-41 dark:text-gray-600">{{Role}}</div>
                            </div>
                            <div class="p-2" style="background-color: #0067ac;" (click)="showChangeOpt()">
                                <a
                                    class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-lock w-4 h-4 mr-2">
                                        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                        <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                    </svg> <span style="color: white;">Reset Password </span></a>
                            </div>
                            <!-- <div class="p-2 border-t border-theme-40 " style="background-color: #0067ac;">
                                <a 
                                    class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md">
                                    <i data-feather="user" class="w-4 h-4 mr-2"></i> Profile </a>
                            </div> -->
                            <div class="p-2 border-t border-theme-40 " style="background-color: #0067ac;">
                                <a
                                    class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md">
                                    <i data-feather="toggle-right" class="w-4 h-4 mr-2"></i><span style="color: white;"
                                        (click)="endSession()">Logout</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Account Menu -->
            </div>
            <!-- END: Top Bar -->
            <!-- <h2 class="intro-y text-lg font-medium mt-10"> -->
            <!-- Dashboard -->
            <!-- </h2> -->
            <!-- <div class="grid grid-cols-12 gap-6 mt-5">
                <app-dashboard></app-dashboard>
            </div> -->
            <app-dashboard class="dashboarddiv"></app-dashboard>
            <app-signup class="signupdiv"></app-signup>
            <app-vehicle class="vehiclediv"></app-vehicle>
            <app-users class="usersdiv"></app-users>
            <app-history class="outbounddiv"></app-history>
            <app-outbound-dashboard class="outBoundDashboarddiv"></app-outbound-dashboard>
            <app-inbound-dashboard class="inBoundDashboarddiv"></app-inbound-dashboard>
            <app-inbound class="inbounddiv"></app-inbound>
        </div>
        <!-- END: Content -->
    </div>
    <!-- BEGIN: JS Assets-->
    <!-- <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script> -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=["your-google-map-api"]&libraries=places"></script> -->
    <!-- <script src="dist/js/app.js"></script> -->
    <!-- END: JS Assets-->
</div>

<div class="" id="ProfilePopupTop">
    <div class="Popup1Profile">
        <div class="Popup2">
            <div
                style="height: 27px;text-align: center ;background-color: #f6f6f6;padding: 3px;font-weight: 700;color: #5a5656;border-radius: 4px;">
                Reset Password
            </div>
            <div style="padding: 28px;" id="popOptions">
                <!-- <b> Name: {{UserName}}<br>
                Role: {{Role}}<br>
               <span style="color:blue" (click)="showChangeOpt()"> Change Password?</span></b><br> -->
                <div class="changePass">
                    <div>
                        <label>Password</label>
                        <input id="menuPassword" type="password" class="input w-full border mt-2 inputWidth"
                            placeholder="Password">
                        <span class="menupasswordErr errMsg"></span>
                    </div>
                    <div>
                        <label>Confirm Password</label>
                        <input id="menuConfirmPassword" type="password" class="input w-full border mt-2 inputWidth"
                            placeholder="Confirm Password">
                        <span class="menucpasswordErr errMsg"></span>
                    </div>
                </div>
            </div>
            <div style="padding: 28px;" id="popMessageReset">
                {{Message}}
            </div>
        </div>
        <div class="Popup3 PopupMessagebutton"
            style="height: 30px;padding: 4px;background-color: #0067ac;color: white;">
            <button class="PopupMessagebutton"
                (click)="changePassword()">Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="PopupMessagebutton" (click)="hideProfilePopup()">Close</button>
        </div>
        <div class="Popup3 PopupMessageShow" style="height: 30px;padding: 4px;background-color: #0067ac;color: white;">
            <button (click)="hidePopupMsg()">Ok</button>
        </div>
    </div>
</div>