<div class="app light" style="background-color: #0067ac;padding: 10px;">
    <!-- BEGIN: Mobile Menu -->
    <div class="mobile-menu md:hidden">
        <div class="mobile-menu-bar">
            <a href='' class="flex mr-auto">
                <img class="w-6" src="assets/images/logo.jpeg" style="height: 28px;width: 62px;border-radius: 3px;">
            </a>
            <a id="mobile-menu-toggler" (click)="menuToggleMobile()"> <i data-feather="bar-chart-2"
                    class="w-8 h-8 text-white transform -rotate-90"></i> </a>
        </div>
        <ul class="border-t border-theme-24 py-5 hidden menuToggleMobile">
            <li class="mobileInboundProcess">
                <span class="menu">
                    <div class="menu__icon">
                        <i class="fa-xl fa-solid fa-road-bridge"></i>
                    </div>
                    <div class="menu__title" (click)="navigate('/inBoundDashboard')"> Trip Master </div>
                </span>
            </li>
            <li class="mobileGate">
                <span class="menu" (click)="hideshowMobile($event,'Gate1mobile')">
                    <div class="menu__icon">
                        <i class="fa-xl fa-solid fa-torii-gate"></i>
                    </div>
                    <div class="menu__title"> Gate Process</div>
                    <div style="width: 70%; text-align: right;">
                        <i class="fa-solid fa-chevron-left gateprocess"></i>
                    </div>
                </span>
                <ul class="Gate1mobile">
                    <li>
                        <span class="menu" (click)="hideshowMobile($event,'Gate2mobile')">
                            <div class="menu__icon"> <i data-feather="arrow-right-circle"></i> </div>
                            <div class="menu__title"> Gate In </div>
                            <div style="width: 100%; text-align: right;">
                                <i class="fa-solid fa-chevron-left gatein"></i>
                            </div>
                        </span>
                        <span class="menu">
                            <div class="menu__icon"> <i data-feather="arrow-left-circle"></i> </div>
                            <div class="menu__title" (click)="OpenCardPopup('changeStatus')"> Gate Out </div>
                        </span>
                        <ul class="Gate2mobile">
                            <li>
                                <span class="menu">
                                    <div class="menu__icon">
                                        <div style="display: flex;width: 31px;">
                                            <i class="fa-xl fa-solid fa-truck-pickup"></i>
                                        </div>
                                    </div>
                                    <div class="menu__title" (click)="navigate('/inBound/inhouse')"> JBM Vehicle </div>
                                </span>
                                <span class="menu">
                                    <div class="menu__icon">
                                        <div style="display: flex;width: 31px;">
                                            <i class="fa-xl fa-solid fa-truck-pickup"></i>
                                        </div>
                                    </div>
                                    <div class="menu__title" (click)="navigate('/outbound')"> Other Vehicle </div>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mobileGetCardInfo">
                <span class="menu">
                    <div class="menu__icon">
                        <i class="fa-xl fa-solid fa-id-card-clip"></i>
                    </div>
                    <div class="menu__title" (click)="OpenCardPopup('getInfo')"> Get Card Info </div>
                </span>
            </li>
            <li class="mobileTripReprint">
                <span class="menu">
                    <div class="menu__icon">
                        <i class="fa-xl fa-solid fa-print"></i>
                    </div>
                    <div class="menu__title" (click)="showRprint()"> Trip Reprint </div>
                </span>
            </li>
            <li class="mobileUsers">
                <span class="menu" (click)="hideshowMobile($event,'usersOption')">
                    <div class="menu__icon">
                        <i class="fa-xl fa-solid fa-users"></i>
                    </div>
                    <div class="menu__title" (click)="navigate('/users')"> Users </div>
                </span>
            </li>
            <li class="mobileVehicles">
                <span class="menu">
                    <div class="menu__icon"> <i class="fa-xl fa-solid fa-truck-moving"></i> </div>
                    <div class="menu__title" (click)="navigate('/dashboard')"> Vehicles </div>
                </span>
            </li>
        </ul>
    </div>
    <!-- END: Mobile Menu -->
    <div class="flex">
        <!-- BEGIN: Side Menu -->
        <nav class="side-nav">
            <span class="intro-x flex items-center pl-5 pt-4">
                <div (click)="hideMenuNames()"><i data-feather="bar-chart-2"
                        class="w-8 h-8 text-white transform -rotate-90"></i></div>
                <a href=""><img class="w-6 hideMenuOnClick" src="assets/images/logo.jpeg"
                        style="height: 32px;width: 89px;border-radius: 3px;"></a>
                <!-- <span class="hidden xl:block text-white text-lg ml-3 hideMenuOnClick"> J<span class="font-medium">BM</span> </span> -->
            </span>
            <div class="side-nav__devider my-6"></div>
            <ul class="disableOnClick" style="padding-left: 0px;">
                <li class="desktopInboundProcess">
                    <span class="side-menu users">
                        <div class="side-menu__icon disableOnClick">
                            <i class="fa-xl fa-solid fa-road-bridge"></i>
                        </div>
                        <div class="side-menu__title hideMenuOnClick" (click)="navigate('/inBoundDashboard')"> Trip
                            Master</div>
                    </span>
                </li>
                <li class="desktopGate">
                    <span class="side-menu vehicles" (click)="hideshow($event,'vehiclesOption')">
                        <div class="side-menu__icon disableOnClick">
                            <i class="fa-xl fa-solid fa-torii-gate"></i>
                        </div>
                        <div class="side-menu__title side-menu--open hideMenuOnClick"> Gate Process</div>
                        <div style="width: 70%; text-align: right;">
                            <i class="fa-solid fa-chevron-left gateprocess"></i>
                        </div>
                    </span>
                    <ul class="vehiclesOption">
                        <div id="subs">
                            <li>
                                <span class="side-menu" (click)="hideshow($event,'Gate1Option')">
                                    <div class="side-menu__icon"> <i data-feather="arrow-right-circle"></i> </div>
                                    <div class="side-menu__title"> Gate In </div>
                                    <div style="width: 100%; text-align: right;">
                                        <i class="fa-solid fa-chevron-left gatein"></i>
                                    </div>
                                </span>
                                <ul class="Gate1Option">
                                    <li>
                                        <span class="side-menu">
                                            <div class="side-menu__icon">
                                                <div style="display: flex;width: 31px;">
                                                    <i class="fa-xl fa-solid fa-truck-pickup"></i>
                                                </div>
                                            </div>
                                            <!-- <div class="side-menu__title" routerLink="/inBound/inhouse" [queryParams]="{sessionID:{{serviceCall.sessionID}} }"> Inhouse </div> -->
                                            <div class="side-menu__title" (click)="navigate('/inBound/inhouse')"> JBM
                                                Vehicle </div>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="side-menu">
                                            <div class="side-menu__icon">
                                                <div style="display: flex;width: 31px;">
                                                    <i class="fa-xl fa-solid fa-truck-pickup"></i>
                                                </div>
                                            </div>
                                            <!-- <div class="side-menu__title" routerLink="/outbound"> Outhouse</div> -->
                                            <div class="side-menu__title" (click)="navigate('/outbound')"> Other Vehicle
                                            </div>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="arrow-left-circle"></i> </div>
                                    <!-- <div class="side-menu__title" (click)="navigate('/outBoundDashboard')"> Gate Out -->
                                    <div class="side-menu__title" (click)="OpenCardPopup('changeStatus')"> Gate Out
                                    </div>
                                </span>
                            </li>
                        </div>
                    </ul>
                </li>
                <li class="desktopGetCardInfo">
                    <span class="side-menu users">
                        <div class="side-menu__icon disableOnClick">
                            <i class="fa-xl fa-solid fa-id-card-clip"></i>
                        </div>
                        <div class="side-menu__title hideMenuOnClick" (click)="OpenCardPopup('getInfo')"> Get Card Info
                        </div>
                    </span>
                </li>
                <li class="desktopTripReprint">
                    <span class="side-menu users">
                        <div class="side-menu__icon disableOnClick">
                            <i class="fa-xl fa-solid fa-print"></i>
                        </div>
                        <div class="side-menu__title hideMenuOnClick" (click)="showRprint()"> Trip Reprint</div>
                    </span>
                </li>
                <li class="desktopUsers">
                    <!-- <a class="side-menu users desktopUsersOption" (click)="addActive('desktopUsersOption')"> -->
                    <span class="side-menu users">
                        <div class="side-menu__icon disableOnClick">
                            <i class="fa-xl fa-solid fa-users"></i>
                        </div>
                        <!-- <div class="side-menu__title hideMenuOnClick" routerLink="/users"> Users </div> -->
                        <div class="side-menu__title hideMenuOnClick" (click)="navigate('/users')"> Users </div>
                    </span>
                </li>
                <li class="desktopVehicles">
                    <span class="side-menu vehicles">
                        <div class="side-menu__icon disableOnClick"> <i class="fa-xl fa-solid fa-truck-moving"></i>
                        </div>
                        <!-- <div class="side-menu__title side-menu--open hideMenuOnClick" routerLink="/dashboard"> Vehicles</div> -->
                        <div class="side-menu__title side-menu--open hideMenuOnClick" (click)="navigate('/dashboard')">
                            Vehicles</div>
                    </span>
                    <!-- <ul class="vehiclesOption">
                        <li>
                            <a class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title" routerLink="/dashboard"> Vehicle List </div>
                            </a>
                        </li>
                        <li>
                            <a class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title"  routerLink="/inBoundDashboard"> Inbound Vehicles</div>
                            </a>
                        </li>
                        <li>
                            <a class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title"  routerLink="/outBoundDashboard"> Outbound Vehicles</div>
                            </a>
                        </li>
                    </ul> -->
                </li>

            </ul>
        </nav>
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content" style="overflow:hidden !important;">
            <!-- BEGIN: Top Bar -->
            <div class="top-bar">
                <!-- BEGIN: Breadcrumb -->
                <div class="-intro-x breadcrumb mr-auto hidden sm:flex" id="header101"></div>
                <div class="-intro-x breadcrumb mr-auto hidden sm:flex" style="padding-top: 17px;">USER : &nbsp;<b>
                        {{UserName}} </b> &nbsp;|&nbsp; ROLE :&nbsp; <b> {{Role}} </b></div>
                <!-- END: Breadcrumb -->
                <!-- BEGIN: Account Menu -->
                <div class="intro-x dropdown w-8 h-8" style="padding-top: 5px;">
                    <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in"
                        style="height: 23px;width: 23px;">
                        <!-- <img src="assets/new/dist/images/profile-7.jpg"> -->
                        <img src="assets/images/profileIcon.jpg">
                    </div>
                    <div class="dropdown-box w-56">
                        <div class="dropdown-box__content box bg-theme-38 dark:bg-dark-6 text-white">
                            <div class="p-4 border-b border-theme-40 " style="background-color: #0067ac;">
                                <div class="font-medium">{{UserName}}</div>
                                <div class="text-xs text-theme-41 dark:text-gray-600">{{Role}}</div>
                            </div>
                            <div class="p-2" style="background-color: #0067ac;" (click)="showChangeOpt()">
                                <a style="cursor: pointer;color: white;text-decoration: none;"
                                    class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md">
                                    <i class="fa-solid fa-unlock-keyhole mr-3"></i>
                                    Reset Password
                                </a>
                            </div>
                            <div class="p-2 border-t border-theme-40 " style="background-color: #0067ac;">
                                <a style="cursor: pointer;color: white;text-decoration: none;"
                                    class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md">
                                    <i class="fa-solid fa-power-off mr-3"></i>
                                    <span (click)="endSession()">Logout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Account Menu -->
            </div>
            <!-- END: Top Bar -->
            <!-- <h2 class="intro-y text-lg font-medium mt-10"> -->
            <!-- Dashboard -->
            <!-- </h2> -->
            <!-- <div class="grid grid-cols-12 gap-6 mt-5">
                <app-dashboard></app-dashboard>
            </div> -->
            <app-dashboard class="dashboarddiv"></app-dashboard>
            <app-signup class="signupdiv"></app-signup>
            <app-vehicle class="vehiclediv"></app-vehicle>
            <app-users class="usersdiv"></app-users>
            <app-history class="outbounddiv"></app-history>
            <app-outbound-dashboard class="outBoundDashboarddiv"></app-outbound-dashboard>
            <app-inbound-dashboard class="inBoundDashboarddiv"></app-inbound-dashboard>
            <app-inbound class="inbounddiv"></app-inbound>
        </div>
        <!-- END: Content -->
    </div>
    <!-- BEGIN: JS Assets-->
    <!-- <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script> -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=["your-google-map-api"]&libraries=places"></script> -->
    <!-- <script src="dist/js/app.js"></script> -->
    <!-- END: JS Assets-->
</div>

<div class="" id="ProfilePopupTop">
    <div class="Popup1Profile">
        <div class="Popup2">
            <div
                style="height: 27px;text-align: center ;background-color: #2569a1;padding: 0;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                Reset Password
            </div>
            <div style="padding: 28px;" id="popOptions">
                <!-- <b> Name: {{UserName}}<br>
                Role: {{Role}}<br>
               <span style="color:blue" (click)="showChangeOpt()"> Change Password?</span></b><br> -->
                <div class="changePass">
                    <div>
                        <label>Password</label>
                        <input id="menuPassword" type="password" class="input w-full border mt-2 inputWidth"
                            placeholder="Password">
                        <span class="menupasswordErr errMsg"></span>
                    </div>
                    <div>
                        <label>Confirm Password</label>
                        <input id="menuConfirmPassword" type="password" class="input w-full border mt-2 inputWidth"
                            placeholder="Confirm Password">
                        <span class="menucpasswordErr errMsg"></span>
                    </div>
                </div>
            </div>
            <div style="padding: 28px;" id="popMessageReset">
                {{Message}}
            </div>
        </div>
        <div class="Popup3 PopupMessagebutton"
            style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button class="PopupMessagebutton" (click)="changePassword()"
                style="color:white;width: 3cm;">Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="PopupMessagebutton" (click)="hideProfilePopup()"
                style="color:white;width: 3cm;">Close</button>
        </div>
        <div class="Popup3 PopupMessageShow"
            style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button (click)="hidePopupMsg()" style="color:white;width: 3cm;">Ok</button>
        </div>
    </div>
</div>

<!-- Card Popup start -->

<div>
    <div class="CardMenu">
        <div class="Popup2">
            <div
                style="height: 27px;text-align: center ;background-color: #2569a1;padding: 0;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">

            </div>
            <div class="cardpop2">
                <b> Please show your card</b>
                <!-- <input type="text" class="input w-full border mt-2 inputWidth"
                                    placeholder="Card Number" id="PopUpCardNo"> -->
            </div>
        </div>
        <div class="Popup3"
            style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;position: absolute;">
            <button id="cardStatusChange" class="Popupbutton" (click)="SendCardNo('cardStatusChange')"
                style="color:white;width: 3cm;">OK</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="getCardInfoOk" class="Popupbutton" (click)="SendCardNo('getCardInfoOk')"
                style="color:white;width: 3cm;">OK</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="Popupbutton" (click)="hideCardPopup()" style="color:white;width: 3cm;">Cancel</button>
        </div>
    </div>
</div>
<!-- Card Popup finish -->

<!--Message  Popup start -->
<div>
    <div class="PopupMenu" id="addFieldPopup">
        <div class="PopupMenu2">
            <div
                style="height: 27px;text-align: center ;background-color: #2569a1;padding: 0;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">

            </div>
            <div style="padding: 28px;text-align: center;">
                <b> {{cardStatus}}</b>
            </div>
        </div>
        <div class="PopupMenu3"
            style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button (click)="hidePopup()" style="color:white;width: 3cm;">OK</button>
        </div>
    </div>
</div>
<!--Message  Popup finish -->


<!--Card View Popup start -->

<div>
    <div class="CardViewPopup">
        <div class="Popup2">
            <div
                style="height: 35px;text-align: center ;background-color: #2569a1;padding-top: 7px;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                Card Information
            </div>
            <div style="padding: 28px 28px 0px 28px;">
                <div id="cardViewGrid">
                    <div>
                        <!-- <label class="viewLabel">menuViewGross_Weight:</label><span id="menuViewGross_Weight"></span><br> -->
                        <!-- <label class="viewLabel">menuViewGross_Wgh_Date_time:</label><span id="menuViewGross_Wgh_Date_time"></span><br> -->
                        <label class="viewLabel">Make:</label><span id="menuViewMake"></span><br>
                        <label class="viewLabel">Model:</label><span id="menuViewModel"></span><br>
                        <label class="viewLabel">VehicleNo:</label><span id="menuViewVehicleNo"></span><br>
                        <label class="viewLabel">Insurance_exp_date:</label><span
                            id="menuViewInsurance_exp_date"></span><br>
                        <label class="viewLabel">PUC_exp_date:</label><span id="menuViewPUC_exp_date"></span><br><br>
                        <!-- </div>
                    <div> -->
                        <label class="viewLabel">Driver Name:</label><span id="menuViewDriver_Name"></span><br>
                        <label class="viewLabel">Driver Number: </label><span id="menuViewDriver_Number"></span><br>
                        <label class="viewLabel">Address: </label> <span id="menuViewAddress"></span><br>
                        <label class="viewLabel">Consignee Name:</label><span id="menuViewConsignee_Name"></span><br>
                        <label class="viewLabel">Issued_By:</label><span id="menuViewIssued_By"></span><br>
                        <label class="viewLabel">Issued_Date:</label><span id="menuViewIssued_Date"></span><br>
                    </div>
                    <div>
                        <label class="viewLabel">Card Number:</label><span id="menuViewCard_Number"></span><br>
                        <label class="viewLabel">Trip_No:</label><span id="menuViewTrip_No"></span><br>
                        <!-- <label class="viewLabel">menuViewFront_image: </label><span id="menuViewFront_image"></span><br> -->
                        <label class="viewLabel">Gate In Date time:</label><span
                            id="menuViewGate_In_Date_time"></span><br>
                        <label class="viewLabel">Gate Out Date time:</label><span
                            id="menuViewGate_Out_Date_time"></span><br>
                        <!-- </div>
                    <div> -->
                        <label class="viewLabel">Material:</label><span id="menuViewMaterial"></span><br>
                        <label class="viewLabel">Material_Type:</label><span id="menuViewMaterial_Type"></span><br>
                        <label class="viewLabel">Qty_Mt_Weight:</label><span id="menuViewQty_Mt_Weight"></span><br>
                        <label class="viewLabel">ViewNet_Weight:</label><span id="menuViewNet_Weight"></span><br>
                        <!-- </div>
                    <div> -->
                        <label class="viewLabel">LrDate:</label><span id="menuViewLrDate"></span><br>
                        <label class="viewLabel">LrNumber:</label><span id="menuViewLrNumber"></span><br>
                        <!-- <label class="viewLabel">menuViewRear_Image:</label><span id="menuViewRear_Image"></span><br> -->
                        <label class="viewLabel">Remark_Field:</label><span id="menuViewRemark_Field"></span><br>
                        <label class="viewLabel">ViewStatus:</label><span id="menuViewStatus"></span><br>
                        <!-- <label class="viewLabel">menuViewTare_Weight:</label><span id="menuViewTare_Weight"></span><br> -->
                        <!-- <label class="viewLabel">menuViewTare_Wgh_Date_time:</label><span id="menuViewTare_Wgh_Date_time"></span><br> -->
                        <!-- <label class="viewLabel">menuViewTime:</label><span id="menuViewTime"></span><br> -->
                        <label class="viewLabel">Type:</label><span id="menuViewType"></span><br>
                        <!-- <label class="viewLabel">Vehicle_Mapping:</label><span id="menuViewVehicle_Mapping"></span><br> -->
                        <br>
                    </div>
                </div>
            </div>
            <div style="text-align: center;"></div>
        </div>
        <div class="Popup3"
            style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button (click)="hideCardView()" style="color:white;width: 3cm;">OK</button>
        </div>
    </div>
</div>
<!--Card View Popup finish -->

<!-- Trip Reprint Popup start -->

<div>
    <div class="TripReprint">
        <div class="Popup2">
            <div
                style="height: 27px;text-align: center ;background-color: #2569a1;padding: 0;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">

            </div>
            <div class="TripReprintInput">
                <b> Enter Trip Number</b>
                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Trip Number"
                    id="TripReprintNoMenu">
            </div>
        </div>
        <div class="Popup3"
            style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;position: absolute;">
            <button id="TripReprintOk" class="Popupbutton" (click)="TripReprint()"
                style="color:white;width: 3cm;">OK</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="TripReprintCancel" (click)="hideTripReprint()"
                style="color:white;width: 3cm;">Cancel</button>
        </div>
    </div>
</div>
<!-- Trip Reprint Popup finish -->

<!--Message Reprint Popup start -->
<div>
    <div class="ReprintMsg">
        <div class="PopupMenu2">
            <div
                style="height: 27px;text-align: center ;background-color: #2569a1;padding: 0;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">

            </div>
            <div style="padding: 28px;text-align: center;">
                <b> {{reprintStatus}}</b>
            </div>
        </div>
        <div class="PopupMenu3"
            style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button (click)="hideReprintMsg()" style="color:white;width: 3cm;">OK</button>
        </div>
    </div>
</div>
<!--Message Reprint Popup finish -->