<!-- 
            <div class="outerdiv" style="max-width: 450px;margin: 5% auto;">
    <div style="padding: 15px;">
        <b>Add New Vehicles</b><br>
        <label>Vehicle No</label>
        <div id="VehicleNoDiv" class="inputWidth">
            <input type="text" placeholder="Vehicle No" id="VehicleNo" class="inputWidth"><br>
        </div>
        <label>Make</label>
        <div id="MakeDiv" class="inputWidth"> 
            <input type="text" placeholder="Make" id="Make" class="inputWidth">
        </div><br>
        <label>Model</label>
        <div id="ModelDiv" class="inputWidth">
            <input type="text" placeholder="Model" id="Model" class="inputWidth">
        </div><br>
        <label>Insurance Exp Date</label>
        <div id="Insurance_exp_dateDiv" class="inputWidth">
            <input type="text" placeholder="Insurance Exp Date" id="Insurance_exp_date" class="inputWidth">
        </div><br>
        <label>PUC exp date</label>
        <div id="PUC_exp_dateDiv" class="inputWidth">
            <input type="text" placeholder="PUC Exp Date" id="PUC_exp_date" class="inputWidth">
        </div><br>
        <label>Vahicle Type</label>
        <div id="VehicleTypeDiv" class="inputWidth">
            <input type="text" placeholder="Vahicle Type" id="VehicleType" class="inputWidth">
        </div><br>
        <button class="addButton" (click)="validate()">Add Vehicle</button>
    </div>
</div> -->
<!-- <table id="tableData" class="display" style="width: 100%;" datatable [dtOptions]="dtOptions">
<thead>
    <tr>
        <th>FullName</th>
        <th>Email</th>
        <th>ContactNo</th>
        <th>ExpectedTime</th>
        <th>ArrivalTime</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let data of data1">
        <td>{{data1.FullName}}</td>
        <td>{{data1.Email}}</td>
        <td>{{data1.ContactNo}}</td>
        <td>{{data1.ExpectedTime}}</td>
        <td>{{data1.ArrivalTime}}</td>
    </tr>
</tbody>
</table> -->

<div class="content">
    <div class="bigDiv">
    <div class="intro-y flex items-center mt-8 addUser">
        <span style="font-size: 20px;">Add Vehicle</span>
    </div>
    <div class="smainDiv">
        <div style="padding:11px !important;">
                    <div class="s1div">
                        <div>
                            <div>
                                <label>Vehicle No</label>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="MH02AB1234" id="VehicleNo" name="namesurname" maxlength="15" style="text-transform:uppercase">
                                <span class="nameErr errMsg"></span>
                            </div>
                            <div>
                                <label>Make</label>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Honda" id="Make" name="namesurname" maxlength="25">
                                <span class="nameErr errMsg"></span>
                            </div>
                            <div >
                                <label>Model</label>
                                <input type="email" class="input w-full border mt-2 inputWidth" placeholder="City" id="Model" maxlength="25">
                                <span class="emailErr errMsg"></span>
                            </div>
                            <!-- <div >
                                <label>Upload Document</label><br>
                                <button id="uploadDocV" type="button" style="width: 170px; color: white;border: none;border-radius: 4px;height: 37px;padding: 5px;background-color:#0067ac" (click)="uploadDocument()">Upload Document</button><br>
                                <span class="uploadErrVehicle" >Please upload Documents to continue</span>
                            </div> -->
                        </div>
                        <div>
                            <div >
                                <label>Insurance Exp Date</label>
                                <input type="date" class="input w-full border mt-2 inputWidth" placeholder="Insurance Exp Date" id="Insurance_exp_date">
                                <span class="mobileErr errMsg"></span>
                            </div>
                            <div >
                                <label>PUC exp date</label>
                                <input type="date" class="input w-full border mt-2 inputWidth" placeholder="PUC Exp Date" id="PUC_exp_date">
                                <span class="mobileErr errMsg"></span>
                            </div>
                            <div>
                                <label>Vehicle Type</label><br>
                                <div class="mt-2 inputWidth">
                                    <select data-search="true" class="tail-select w-full" id="VehicleTypeDash"
                                        style="height: 38px;border:1px solid #dee2e6;">
                                        <option value="">Select Vehicle Type</option>
                                    </select>
                                </div>
                                <span class="VehicleTypeDashErr errMsg"></span>
                            </div>
                        </div>
                    </div>
                    <div class="s1div">
                    <div >
                        <label>RC Copy :</label><br>
                        <div style="text-align: left;" class="toUpload">
                            <div>
                            <input type="file" id="Rc_copy1" (change)="getFiles($event)" /></div>
                        </div>
                        <span id="errUploadDocRC errMsg"></span>
                    </div>
                    <div >
                        <label>PUC :</label><br>
                        <div style="text-align: left;" class="toUpload">
                            <div>
                            <input type="file" id="Rc_copy2" (change)="getFiles($event)" /></div>
                        </div>
                        <span id="errUploadDocPUC errMsg"></span>
                    </div>
                    </div>
                    <span id="docErrVeh" style="color: red;"></span>
                    
        </div>
        <div class="justify-end mt-4" style="background-color: #2569a1;">
            <!-- <a href="" class="text-theme-6 flex items-center"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete Account </a> -->
            <button type="button" class="buttonCss" (click)="validate()">Add</button>
            <button type="button" class="buttonCss" style="color:#e58624" (click)="reset()">Reset</button>
        </div>
    </div>
</div>
</div>
  <!--  Popup start -->

<div class="addFieldPopupTop" id="addFieldPopupTop">
    <div class="Popup1" id="addFieldPopup">
      <div class="Popup2">
        <div
        style="height: 27px;text-align: center ;background-color: #2569a1;padding: 0;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
          
        </div>
        <div style="padding: 28px;">
         <b> {{Message}}</b>
        </div>
      </div>
      <div class="Popup3" style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
        <button (click)="hidePopup()" style="color:white;width: 3cm;">OK</button>
      </div>
    </div>
  </div>
  <!--  Popup finish -->

  <!-- upload Doc Popup start -->

<div>
    <div class="uploadDocV">
        <div class="Popup2">
            <div
            style="height: 27px;text-align: center ;background-color: #2569a1;padding: 0;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                Upload Documents
            </div>
            <div style="padding: 28px;text-align: center;" class="toUpload">
                <span style="float: left;"><b>RC Copy :</b></span><br>
                <input type="file" id="Rc_copy1" (change)="getFiles($event)" /><br><br>
                <span style="float: left;"><b>PUC :</b></span><br>
                <input type="file" id="Rc_copy2" (change)="getFiles($event)" /><br><br>
                <span id="errUploadDoc">Please Select Two Files</span>
            </div>
            <div style="padding: 28px;text-align: center;" class="afterUpload">
                {{docStatus}}
            </div>
        </div>
        <div class="Popup3 toUpload" style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button class="Popupbutton" (click)="uploadDocs()" style="color:white;width: 3cm;">Upload</button>&nbsp;&nbsp;
            <button class="Popupbutton" (click)="hideuploadPopup()" style="color:white;width: 3cm;">Cancel</button>
        </div>
        <div class="Popup3 afterUploadButton" style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button class="Popupbutton" (click)="hideuploadPopupok()" style="color:white;width: 3cm;">OK</button>
        </div>
    </div>
</div>
<!-- upload Doc Popup finish -->