<div class="outerdiv" style="max-width: 450px;margin: 5% auto;">
    <div style="padding: 15px;">
        <b>Add New Vehicles</b><br>
        <!-- <label>Book No</label>
        <input type="text" placeholder="Book No" id="BookNo" class="inputWidth"><br> -->
        <label>Vehicle No</label>
        <div id="VehicleNoDiv" class="inputWidth">
            <input type="text" placeholder="Vehicle No" id="VehicleNo" class="inputWidth"><br>
        </div>
        <label>Make</label>
        <div id="MakeDiv" class="inputWidth"> 
            <input type="text" placeholder="Make" id="Make" class="inputWidth">
        </div><br>
        <label>Model</label>
        <div id="ModelDiv" class="inputWidth">
            <input type="text" placeholder="Model" id="Model" class="inputWidth">
        </div><br>
        <label>Insurance Exp Date</label>
        <div id="Insurance_exp_dateDiv" class="inputWidth">
            <input type="text" placeholder="Insurance Exp Date" id="Insurance_exp_date" class="inputWidth">
        </div><br>
        <label>PUC exp date</label>
        <div id="PUC_exp_dateDiv" class="inputWidth">
            <input type="text" placeholder="PUC Exp Date" id="PUC_exp_date" class="inputWidth">
        </div><br>
        <label>Vahicle Type</label>
        <div id="VehicleTypeDiv" class="inputWidth">
            <input type="text" placeholder="Vahicle Type" id="VehicleType" class="inputWidth">
        </div><br>
        <!-- <label>Status</label>
        <div id="StatusDiv" class="inputWidth"> 
            <input type="text" placeholder="Status" id="Status" class="inputWidth">
        </div><br> -->
        <!-- <label>Material Type</label>
        <input type="text" placeholder="Material Type" id="Material_Type" class="inputWidth"><br>
        <label>Material</label>
        <input type="text" placeholder="Material" id="Material" class="inputWidth"><br>
        <label>Issued By</label>
        <input type="text" placeholder="Issued By" id="Issued_By" class="inputWidth"><br>
        <label>Issued Date</label>
        <input type="text" placeholder="Issued Date" id="Issued_Date" class="inputWidth"><br>
        <label>Driver Name</label>
        <input type="text" placeholder="Driver Name" id="Driver_Name" class="inputWidth"><br>
        <label>Driver Number</label>
        <input type="text" placeholder="Driver Number" id="Driver_Number" class="inputWidth"><br>
        <label>Time</label>
        <input type="text" placeholder="Time" id="Time" class="inputWidth"><br>
        <label>Consignee Name</label>
        <input type="text" placeholder="Consignee Name" id="Consignee_Name" class="inputWidth"><br>
        <label>Address</label>
        <input type="text" placeholder="Address" id="Address" class="inputWidth"><br>
        <label>Trip No</label>
        <input type="text" placeholder="Trip No" id="Trip_No" class="inputWidth"><br>
        <label>Gross Weight</label>
        <input type="text" placeholder="Gross Weight" id="Gross_Weight" class="inputWidth"><br>
        <label>Tare Weight</label>
        <input type="text" placeholder="Tare Weight" id="Tare_Weight" class="inputWidth"><br>
        <label>Net Weight</label>
        <input type="text" placeholder="Net Weight" id="Net_Weight" class="inputWidth"><br> -->
        <button class="addButton" (click)="validate()">Add Vehicle</button>
    </div>
</div>
<!-- <table id="tableData" class="display" style="width: 100%;" datatable [dtOptions]="dtOptions">
<thead>
    <tr>
        <th>FullName</th>
        <th>Email</th>
        <th>ContactNo</th>
        <th>ExpectedTime</th>
        <th>ArrivalTime</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let data of data1">
        <td>{{data1.FullName}}</td>
        <td>{{data1.Email}}</td>
        <td>{{data1.ContactNo}}</td>
        <td>{{data1.ExpectedTime}}</td>
        <td>{{data1.ArrivalTime}}</td>
    </tr>
</tbody>
</table> -->