<!-- 
            <div class="outerdiv" style="max-width: 450px;margin: 5% auto;">
    <div style="padding: 15px;">
        <b>Add New Vehicles</b><br>
        <label>Vehicle No</label>
        <div id="VehicleNoDiv" class="inputWidth">
            <input type="text" placeholder="Vehicle No" id="VehicleNo" class="inputWidth"><br>
        </div>
        <label>Make</label>
        <div id="MakeDiv" class="inputWidth"> 
            <input type="text" placeholder="Make" id="Make" class="inputWidth">
        </div><br>
        <label>Model</label>
        <div id="ModelDiv" class="inputWidth">
            <input type="text" placeholder="Model" id="Model" class="inputWidth">
        </div><br>
        <label>Insurance Exp Date</label>
        <div id="Insurance_exp_dateDiv" class="inputWidth">
            <input type="text" placeholder="Insurance Exp Date" id="Insurance_exp_date" class="inputWidth">
        </div><br>
        <label>PUC exp date</label>
        <div id="PUC_exp_dateDiv" class="inputWidth">
            <input type="text" placeholder="PUC Exp Date" id="PUC_exp_date" class="inputWidth">
        </div><br>
        <label>Vahicle Type</label>
        <div id="VehicleTypeDiv" class="inputWidth">
            <input type="text" placeholder="Vahicle Type" id="VehicleType" class="inputWidth">
        </div><br>
        <button class="addButton" (click)="validate()">Add Vehicle</button>
    </div>
</div> -->
<!-- <table id="tableData" class="display" style="width: 100%;" datatable [dtOptions]="dtOptions">
<thead>
    <tr>
        <th>FullName</th>
        <th>Email</th>
        <th>ContactNo</th>
        <th>ExpectedTime</th>
        <th>ArrivalTime</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let data of data1">
        <td>{{data1.FullName}}</td>
        <td>{{data1.Email}}</td>
        <td>{{data1.ContactNo}}</td>
        <td>{{data1.ExpectedTime}}</td>
        <td>{{data1.ArrivalTime}}</td>
    </tr>
</tbody>
</table> -->

<div class="content">
    <div class="intro-y flex items-center mt-8">
        <span style="font-size: 20px;">Add Vehicle</span>
    </div>
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 lg:col-span-8 xxl:col-span-9">
            <!-- BEGIN: Personal Information -->
            <div class="intro-y box lg:mt-5">
                <!-- <div class="flex items-center p-5 border-b border-gray-200 dark:border-dark-5">
                    <h2 class="font-medium text-base mr-auto">
                        Personal Information
                    </h2>
                </div> -->
                <div class="p-5" style="padding:11px !important;">
                    <div class="grid grid-cols-12 gap-3">
                        <div class="col-span-12 xl:col-span-6">
                            <div>
                                <label>Vehicle No</label>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Vehicle No" id="VehicleNo" name="namesurname">
                                <span class="nameErr errMsg"></span>
                            </div>
                            <div>
                                <label>Make</label>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Make" id="Make" name="namesurname">
                                <span class="nameErr errMsg"></span>
                            </div>
                            <div >
                                <label>Model</label>
                                <input type="email" class="input w-full border mt-2 inputWidth" placeholder="Model" id="Model">
                                <span class="emailErr errMsg"></span>
                            </div>
                        </div>
                        <div class="col-span-12 xl:col-span-6">
                            <div >
                                <label>Insurance Exp Date</label>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Insurance Exp Date" id="Insurance_exp_date">
                                <span class="mobileErr errMsg"></span>
                            </div>
                            <div >
                                <label>PUC exp date</label>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="PUC Exp Date" id="PUC_exp_date">
                                <span class="mobileErr errMsg"></span>
                            </div>
                            <div >
                                <label>Vehicle Type</label>
                                <input type="password" class="input w-full border mt-2 inputWidth" placeholder="Vahicle Type" id="VehicleType">
                                <span class="passwordErr errMsg"></span>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-end mt-4">
                        <!-- <a href="" class="text-theme-6 flex items-center"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete Account </a> -->
                        <button type="button" class="button w-20 bg-theme-1 text-white ml-auto" (click)="validate()">Add</button>
                    </div>
                </div>
            </div>
            <!-- END: Personal Information -->
        </div>
    </div>
</div>
  <!--  Popup start -->

<div class="addFieldPopupTop" id="addFieldPopupTop">
    <div class="Popup1" id="addFieldPopup">
      <div class="Popup2">
        <div
          style="height: 27px;text-align: center ;background-color: #f6f6f6;padding: 3px;font-weight: 700;color: #5a5656;">
          Note
        </div>
        <div style="padding: 28px;">
         <b> {{Message}}</b>
        </div>
      </div>
      <div class="Popup3" style="height: 30px;padding: 4px;text-align: center;">
        <button class="Popupbutton"  (click)="hidePopup()">OK</button>
      </div>
    </div>
  </div>
  <!--  Popup finish -->