<div id="outerDiv">
    <div class="card">
    <!-- <button (click)="navigate('/outbound')"
        style="color: white;background: #1d40aa;border: none;border-radius: 4px;height: 36px;padding: 5px 5px 5px 5px;width: 110px;">Create
        Trip</button><br><br> -->
        <div class="card-header text-light" style="background-color: #0067ac;">
            <span class="pt-5 fs-5 text-violet">TRIP MASTER</span>
            <div class="card-tools float-right">
                <button (click)="navigate('/outbound')" class="btn btn-sm fluffy">
                    <i class="fa-solid fa-plus"></i> Create Trip
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 table-responsive">
    <table datatable class="table table-striped table-bordered table-hover"
        [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  style="width: 100%; border-top: 2px solid #e2e8f0;">
        <thead>
            <tr>
                <th class="imageDiv">&nbsp;&nbsp;&nbsp;</th>
                <th class="Trip_No">Trip No.</th>
                <th class="VehicleNo">Vehicle No.</th>
                <th class="Driver_Name">Driver Name</th>
                <th class="Consignee_Name">Consignee Name</th>
                <th class="Make">Manufacturer</th>
                <th class="Model">Model</th>
                <th class="vehicle_mapping">Card Number</th>
                <!-- <th class="vehicleType">Type</th> -->
                <th class="status">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehicle of data" height="55px">
                <!-- <td>
                    <div style="display: flex;" class="imageDiv">
                        <div (click)="viewData('edit',vehicle.Trip_No)">
                            <img src="assets/images/edit-icon3.png" style="height: 22px;">
                        </div>&nbsp;&nbsp;
                        <div (click)="viewData('view',vehicle.Trip_No)">
                            <img src="assets/images/eye-icon2.png" style="height: 20px;">
                        </div>
                    </div>
                </td> -->
                <td class="text-center">
                    <i class="fa-solid fa-pencil text-primary"
                        (click)="viewData('edit',vehicle.Trip_No)"></i>
                </td>
                <td class="Trip_No" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.Trip_No }}</td>
                <td class="VehicleNo" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.VehicleNo }}</td>
                <td class="Driver_Name" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.Driver_Name }}</td>
                <td class="Consignee_Name" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.Consignee_Name }}</td>
                <td class="Make" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.Make }}</td>
                <td class="Model" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.Model }}</td>
                <td class="card_numbers" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.Card_Number }}</td>
                <!-- <td class="vehicleType">{{ vehicle.Type }}</td> -->
                <td *ngIf="vehicle.Status === 'In transit'" style="text-transform: capitalize;font-weight: bold;" class="status text-primary" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.Status }}
                </td>
                <td *ngIf="vehicle.Status === 'In plant'" style="text-transform: capitalize;font-weight: bold;" class="status text-warning" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.Status }}
                </td>
                <td *ngIf="vehicle.Status === 'Completed' || vehicle.Status === 'completed'" style="text-transform: capitalize;font-weight: bold;" class="status text-success" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.Status }}</td>
                <td *ngIf="vehicle.Status === 'Close' || vehicle.Status === 'close'" style="text-transform: capitalize;font-weight: bold;" class="status text-secondary" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.Status }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>

<!-- Edit Popup start -->

<div class="addFieldPopupTop" id="editPopupTop">
    <div class="editPopOut" id="addFieldPopup">
        <div class="Popup2">
            <div
                style="height: 35px;text-align: center ;background-color: #2569a1;padding-top: 7px;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                Vehicle Details
            </div>
            <div style="padding: 0px 20px;text-align: center;">
                <div class="editDiv">
                    <div class="grid grid-cols-8 gap-12">
                        <div class="col-span-12 lg:col-span-8 xxl:col-span-9">
                            <!-- BEGIN: Personal Information -->
                            <div class="intro-y box lg:mt-5">
                                <!-- <div class="flex items-center p-5 border-b border-gray-200 dark:border-dark-5">
                                <h2 class="font-medium text-base mr-auto">
                                    Personal Information
                                </h2>
                            </div> -->
                                <div class="p-5 mobileWidth" style="padding:11px !important;">
                                    <div class="grid grid-cols-12 gap-3">
                                        <div class="col-span-12 xl:col-span-6">
                                            <div class="">
                                                <label>Manufacturer</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Make" id="outEditvehicleMake" maxlength="25"
                                                    (keypress)="KeyPressEvent($event,'VarChar')">
                                                <span class="vehicleMakeErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Insurance exp date</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Insurance exp date" id="outEditvehicleIns_exp_date">
                                                <span class="vehicleInsurance_exp_dateErr errMsg"></span>
                                            </div>
                                            <!-- <div class="mt-3">
                                                <label>Material</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Material" id="outEditMaterial">
                                                <span class="MaterialErr errMsg"></span>
                                            </div> -->
                                            <!-- <div class="mt-3">
                                                <label>Issued By</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Issued By" id="outEditIssued_By">
                                                <span class="Issued_ByErr errMsg"></span>
                                            </div> -->
                                            <div class="mt-3">
                                                <label>Driver Name</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Driver Name" id="outEditDriver_Name" maxlength="50"
                                                    (keypress)="KeyPressEvent($event,'Text')">
                                                <span class="Driver_NameErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Consignee Name</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Consignee Name" id="outEditConsignee_Name"
                                                    maxlength="50" (keypress)="KeyPressEvent($event,'Text')">
                                                <span class="Consignee_NameErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Quantity Material Weight(MT)</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Quantity Material Weight" id="outEditoutqty_mt_Weight"
                                                    pattern="[0-9]*" inputmode="numeric"
                                                    (keypress)="KeyPressEvent($event,'Double')">
                                                <span class="outqty_mt_WeightErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>LR Number</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="LR Number" id="outEditlrNumber" maxlength="10"
                                                    (keypress)="KeyPressEvent($event,'VarChar')">
                                                <span class="outEditlrNumberErr errMsg"></span>
                                            </div>
                                        </div>
                                        <div class="col-span-12 xl:col-span-6">
                                            <div>
                                                <label>Vehicle No</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Vehicle No" id="outEditVnumber" maxlength="15"
                                                    style="text-transform:uppercase">
                                                <span class="VnumberErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Model</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Model" id="outEditVehicleModel" maxlength="25"
                                                    (keypress)="KeyPressEvent($event,'VarChar')">
                                                <span class="VehicleModelErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>PUC exp date</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="PUC exp date" id="outEditVPUC_exp_date">
                                                <span class="VPUC_exp_dateErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Material</label><br>
                                                <div class="mt-2 inputWidth">
                                                    <select data-search="true" class="tail-select w-full"
                                                        id="outEditMaterial_Type"
                                                        style="height: 38px;border:1px solid #dee2e6;" id="outEditM">
                                                        <option value="">Select Material Type</option>
                                                        <!-- <option value="Iron">Iron</option>
                                                        <option value="Steel">Steel</option> -->
                                                    </select>
                                                </div>
                                                <span class="Material_TypeErr errMsg"></span>
                                            </div>
                                            <!-- <div class="mt-3">
                                                <label>Issued Date</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Issued Date" id="outEditIssued_Date">
                                                <span class="Issued_DateErr errMsg"></span>
                                            </div> -->
                                            <div class="mt-3">
                                                <label>Driver Number</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Driver Number" id="outEditDriver_Number"
                                                    (keyup)="ValidateNumber($event)" pattern="[0-9]*"
                                                    inputmode="numeric" (keypress)="KeyPressEvent($event,'Mobile')">
                                                <span class="Driver_NumberErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Address</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Address" id="outEditAddress" maxlength="150">
                                                <span class="AddressErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>LR Date</label><br>
                                                <input type="date" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Gross Weight" id="outEditlrDate">
                                                <span class="outEditlrDateErr errMsg"></span>
                                            </div>
                                            <div class="" style="display:none;">
                                                <label>Trip No</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Make" id="outEditTrip_No">
                                                <span class="vehicleMakeErr errMsg"></span>
                                            </div>
                                        </div>
                                    </div><br>
                                    <!-- <div class="" style="text-align: center;">
                                        <button type="button" class="buttonCss" (click)="validateEdit()">Update</button>&nbsp;&nbsp;
                                    <button type="button" class="buttonCss" (click)="closeEdit()">Close</button>
                                    </div> -->
                                </div>
                            </div>
                            <!-- END: Personal Information -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Popup3"
            style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button type="button" (click)="validateEdit()" style="color:white;width: 3cm;">Update</button>&nbsp;&nbsp;
            <button type="button" (click)="closeEdit()" style="color:white;width: 3cm;">Cancel</button>
            <!-- </div> -->
        </div>
    </div>
    <!-- Edit Popup finish -->

    <!-- View Popup start -->

    <div class="addFieldPopupTop" id="viewPopupTop">
        <div class="oviewPopup1edit">
            <div class="Popup2">
                <div
                    style="height: 35px;text-align: center ;background-color: #2569a1;padding-top: 7px;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                    Trip Details
                </div>
                <!-- <div
                style="height: 27px;text-align: center ;background-color: #f6f6f6;padding: 3px;font-weight: 700;color: #5a5656;border-radius: 10px;">
                Vehicle Details
            </div> -->
                <!-- <span style="padding: 27px;font-size: 20px;font-weight: 700;">Trip Details</span> -->
                <div class="ViewDisaplayOutbound">
                    <div style="padding: 10px;">
                        <!-- <b> -->
                        <label class="viewLabel">Trip_No:</label><span id="oViewTrip_No"></span><br>
                        <!-- </b> -->
                        <!-- <b> -->
                        <label class="viewLabel">Vehicle Number:</label><span id="oViewVehicleNo"></span><br>
                        <!-- </b> -->
                        <!-- <b> -->
                        <label class="viewLabel">Ins Expire Date: </label> <span
                            id="oViewInsurance_exp_date"></span><br>
                        <!-- </b> -->
                        <!-- <b> -->
                        <label class="viewLabel">PUC Expire Date:</label><span id="oViewPUC_exp_date"></span><br>
                        <!-- </b> -->
                        <!-- <b> -->
                        <label class="viewLabel">Manufacturer:</label><span id="oViewMake"></span><br>
                        <!-- </b> -->
                        <!-- <b> -->
                        <label class="viewLabel">Model: </label><span id="oViewModel"></span><br>
                        <!-- </b> -->
                        <!-- <b> -->
                        <label class="viewLabel">Address:</label> <span id="oViewAddress"></span><br>
                        <label class="viewLabel">Status:</label><span id="oViewStatus"></span><br><br>
                        <label class="viewLabel">Qty Mt Weight:</label><span id="oViewQty_Mt_Weight"></span><br>
                        <label class="viewLabel">Net Weight:</label><span id="oViewNet_Weight"></span><br>
                        <label class="viewLabel">Gross Weight:</label><span id="oViewGross_Weight"></span><br>
                        <label class="viewLabel">Tare Weight:</label><span id="oViewTare_Weight"></span><br>
                        <br>
                        <!-- <div style="text-align: center;"><button class="buttonCss" (click)="hideView()">Close</button></div> -->
                    </div>
                    <div style="display: grid;grid-template-columns: 6cm 6cm;column-gap: 10px;">
                        <div>
                            <span id="docViewStatusOut"></span>
                            <label id="doc1NameOut"></label><br>
                            <img class="docImgOut" id="docImage1Out" style="max-height: 185px;"><br><br>
                        </div>
                        <div>
                            <label id="doc2NameOut"></label><br>
                            <img class="docImgOut" id="docImage2Out" style="max-height: 185px;">
                        </div>
                    </div>
                    <div style="padding: 10px;">
                        <!-- <b> -->
                        <label class="viewLabel">Consignee_Name:</label> <span id="oViewConsignee_Name"></span><br>
                        <!-- </b> -->
                        <!-- <b> -->
                        <label class="viewLabel">Driver_Name:</label> <span id="oViewDriver_Name"></span><br>
                        <!-- </b> -->
                        <!-- <b> -->
                        <label class="viewLabel">Driver_Number:</label> <span id="oViewDriver_Number"></span><br>
                        <!-- </b> -->
                        <!-- <b><label class="viewLabel">Gross_Weight:</label> <span id="oViewGross_Weight"></span><br></b> -->
                        <!-- <b><label class="viewLabel">Issued_By:</label> <span id="oViewIssued_By"></span><br></b>
                <b><label class="viewLabel">Issued_Date:</label> <span id="oViewIssued_Date"></span><br></b> -->
                        <!-- <b><label class="viewLabel">Material:</label> <span id="oViewMaterial"></span><br></b> -->
                        <!-- <b> -->
                        <label class="viewLabel">Material:</label><span id="oViewMaterial_Type"></span><br>
                        <!-- </b> -->
                        <!-- <b> -->
                        <label class="viewLabel">Qty_Mt_Weight:</label> <span id="oViewQty_Mt_Weight"></span><br>
                        <!-- </b> -->
                        <!-- <b><label class="viewLabel">Time:</label> <span id="oViewTime"></span><br></b> -->
                        <!-- <b> -->
                        <label class="viewLabel">Card Number:</label> <span id="oViewVehicle_Mapping"></span><br>
                        <!-- </b> -->
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="Popup3"
                style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
                <button (click)="hideView()" style="color:white;width: 3cm;">OK</button>
            </div>
        </div>
    </div>
    <!-- View Popup finish -->

    <!-- Message Popup start -->
    <div class="" id="messagePopupTop">
        <div class="outDashmessage">
            <div class="Popup2">
                <div
                    style="height: 27px;text-align: center ;background-color: #2569a1;padding: 0;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">

                </div>
                <!-- <div
          style="height: 27px;text-align: center ;background-color: #f6f6f6;padding: 3px;font-weight: 700;color: #5a5656;border-radius: 10px;">
          Vehicle Data
        </div> -->
                <div style="padding: 28px;">
                    {{Message}}
                </div>
            </div>
            <div class="Popup3 outDashmessagebutton"
                style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
                <button style="color:white;width: 3cm;" (click)="hideMessagePopup()">OK</button>
            </div>
        </div>
    </div>
    <!-- Message Popup finish -->