<div class="content" id="VehicleNumberForm">
    <div class="bigDiv">
        <div class="intro-y flex items-center mt-8 addUser">
            <h2 class="text-lg font-medium mr-auto">
                Get Vehicle Data
            </h2>
        </div>
        <div class="vnin">
            <div style="padding:11px !important;">
                <div class="">
                    <div>
                        <div>
                            <label>Vehicle Number</label><br>
                            <input type="text" class="input w-full border mt-2 inputWidth" id="checkVehicleNumber"
                                placeholder="Vehicle Number">
                            <span class="nameErr errMsg"></span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-start mt-1" style="padding-top: 12px;">
                    <button type="button" class="buttonCss" (click)="validateVehicleNumber()">Ok</button>&nbsp;&nbsp;
                    <!-- <button type="button" class="buttonCss" (click)="uploadDocument()">Upload Document</button> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content" id="inboundForm">
    <div class="bigDiv">
        <div class="intro-y flex items-center mt-8 addUser">
            <span style="font-size: 20px;">Add Inbound</span>
        </div>
        <div>
            <nav class="top-nav" style="background-color: #15329a;">
                <ul style="margin:0;">
                    <li (click)="active('vehicle')">
                        <a class="top-menu vehicle top-menu--active mobileHeight">
                            <div class="top-menu__icon"> <i data-feather="truck"></i> </div>
                            <div class="top-menu__title"> Vehicle </div>
                        </a>
                    </li>
                    <li (click)="active('Driver')">
                        <a class="top-menu Driver mobileHeight">
                            <div class="top-menu__icon"> <i data-feather="file-text"></i></div>
                            <div class="top-menu__title"> Driver Details </div>
                        </a>
                    </li>
                    <li (click)="validateDirverDetails()">
                        <a class="top-menu Material mobileHeight">
                            <div class="top-menu__icon"><i data-feather="package"></i></div>
                            <div class="top-menu__title"> Material </div>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="smainDiv">`
                <div style="padding:11px !important;">
                    <div class="">
                        <div id="VehcileDataIn">
                            <div class="mt-3">
                                <label>Make</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Honda"
                                    id="invehicleMake" disabled>
                                <span class="vehicleMakeErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Insurance exp date</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth"
                                    placeholder="Insurance exp date" id="invehicleInsurance_exp_date" disabled>
                                <span class="vehicleInsurance_exp_dateErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Vehicle No</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="MH02AB1234"
                                    id="inVnumber" disabled>
                                <span class="VnumberErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Model</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="City"
                                    id="inVehicleModel" disabled>
                                <span class="VehicleModelErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>PUC exp date</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth"
                                    placeholder="PUC exp date" id="inVPUC_exp_date" disabled>
                                <span class="VPUC_exp_dateErr errMsg"></span>
                            </div>
                            <!-- <div class="mt-3">
                                <label>Gross Weight</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth"  placeholder="Gross Weight" id="inGross_Weight">
                                <span class="Gross_WeightErr errMsg"></span>
                            </div> -->
                            <!-- <div class="mt-3">
                                <label>Net Weight</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth"  placeholder="Net Weight" id="inNet_Weight">
                                <span class="Net_WeightErr errMsg"></span>
                            </div> -->
                        </div>
                        <div id="DriverDetailsIn">
                            <div class="mt-3">
                                <label>Driver Name</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Driver Name"
                                    id="inDriver_Name" maxlength="50" (keypress)="KeyPressEvent($event,'Text')">
                                <span class="Driver_NameErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Consignee Name</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth"
                                    placeholder="Consignee Name" id="inConsignee_Name" maxlength="50" (keypress)="KeyPressEvent($event,'Text')">
                                <span class="Consignee_NameErr errMsg"></span>
                            </div>
                            <!-- <div class="mt-3">
                                <label>Issued Date</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Issued Date"
                                    id="inIssued_Date">
                                <span class="Issued_DateErr errMsg"></span>
                            </div> -->
                            <div class="mt-3">
                                <label>Driver Number</label><br>
                                <input class="input w-full border mt-2 inputWidth"
                                    placeholder="Driver Number" id="inDriver_Number" (keyup)="ValidateNumber($event)" pattern="[0-9]*" inputmode="numeric" (keypress)="KeyPressEvent($event,'Mobile')">
                                <span class="Driver_NumberErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>Address</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Address"
                                    id="inAddress" maxlength="150">
                                <span class="AddressErr errMsg"></span>
                            </div>
                            <!-- <div class="mt-3">
                                <label>Tare Weight</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Tare Weight" id="inTare_Weight">
                                <span class="Tare_WeightErr errMsg"></span>
                            </div> -->
                        </div>
                        <div id="MaterialIn">
                            <div class="mt-3">
                                <label>Quantity Material Weight</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth"
                                    placeholder="Gross Weight" id="qty_mt_Weight" pattern="[0-9]*" inputmode="numeric" (keypress)="KeyPressEvent($event,'Double')">
                                <span class="qty_mt_WeightErr errMsg"></span>
                            </div>
                            <!-- <div class="mt-3">
                                <label>Time</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Time"
                                    id="inTime">
                                <span class="inTimeErr errMsg"></span>
                            </div> -->
                            <!-- <div class="mt-3">
                                <label>Material</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Material"
                                    id="inMaterial">
                                <span class="MaterialErr errMsg"></span>
                            </div> -->
                            <div class="mt-3">
                                <label>Material</label><br>
                                <!-- <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Material Type" id="inMaterial_Type"> -->
                                <div class="mt-2 inputWidth">
                                    <select data-search="true" class="tail-select w-full" id="inMaterial_Type"
                                        style="height: 38px;border:1px solid #dee2e6;">
                                        <option value="">Select Material Type</option>
                                        <!-- <option value="Iron">Iron</option>
                                        <option value="Steel">Steel</option> -->
                                    </select>
                                    <span class="roleErr errMsg"></span>
                                </div>
                                <span class="Material_TypeErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>LR Number</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="LR Number"
                                    id="lrNumber" maxlength="10" (keypress)="KeyPressEvent($event,'VarChar')">
                                <span class="lrNumberErr errMsg"></span>
                            </div>
                            <div class="mt-3">
                                <label>LR Date</label><br>
                                <input type="date" class="input w-full border mt-2 inputWidth"
                                    placeholder="Gross Weight" id="lrDate">
                                <span class="lrDateErr errMsg"></span>
                            </div>
                            <div class="mt-3" style="display: none;">
                                <label>Trip NO</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="LR Number"
                                    id="inTripDasboard">
                            </div>
                            <!-- <div class="mt-3">
                                <label>Issued By</label><br>
                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Issued By"
                                    id="inIssued_By">
                                <span class="Issued_ByErr errMsg"></span>
                            </div> -->
                        </div>
                    </div>
                    <div class="flex justify-end mt-4 addButtonin">
                        <!-- <a href="" class="text-theme-6 flex items-center"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete Account </a> -->
                        <!-- <input type="image" class="button w-20 bg-theme-1 text-white ml-auto" style="background-color: #abd3f4;"
                            (click)="validate('add')" src="assets/images/registerCard.png"/> -->
                        <div style="display:flex;">
                            <button type="button" class="button w-20 bg-theme-1 text-white ml-auto"
                                style="background-color: #abd3f4;padding: 5px;height: 32px;color: black !important;"
                                (click)="active('Driver')">Previous</button>&nbsp;&nbsp;
                            <button type="button" class="button w-20 bg-theme-1 text-white ml-auto" style="background-color: #abd3f4;padding: 0px 5px 0px 13px;height: 32px;
                        width: 65px;" (click)="validate('add')">
                                <span class="registerCardHover">
                                    <img class="w-6" src="assets/images/registerCard.png"
                                        style="height:33px; width:39px;">
                                    <div class="hoverText">
                                        Register Card
                                    </div>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="flex justify-end mt-4 tab2">
                        <div style="display:flex;">
                            <button type="button" class="button w-20 bg-theme-1 text-white ml-auto"
                                style="background-color: #abd3f4;padding: 5px;height: 32px;color: black !important;"
                                (click)="active('vehicle')">Previous</button>&nbsp;&nbsp;
                            <button type="button" class="button w-20 bg-theme-1 text-white ml-auto"
                                style="background-color: #abd3f4;padding: 5px;height: 32px;color: black !important;"
                                (click)="validateDirverDetails()">Next</button>
                        </div>
                    </div>
                    <div class="flex justify-end mt-4 tab1">
                        <div style="display:flex;">
                            <button type="button" class="buttonCss" (click)="uploadDocument()">Upload
                                Document</button>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="button w-20 bg-theme-1 text-white ml-auto"
                                style="background-color: #abd3f4;padding: 5px;height: 32px;color: black !important;"
                                (click)="active('Driver')">Next</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--  Popup start -->

<div class="addFieldPopupTop" id="addFieldPopupTop">
    <div class="Popup1" id="addFieldPopup">
        <div class="Popup2">
            <div
                style="height: 27px;text-align: center ;background-color: #f6f6f6;padding: 3px;font-weight: 700;color: #5a5656;">
                Note
            </div>
            <div style="padding: 28px;text-align: center;">
                <b> {{Message}}</b>
            </div>
        </div>
        <div class="Popup3" style="height: 30px;padding: 4px;">
            <button class="Popupbutton" (click)="hidePopup()">OK</button>
        </div>
    </div>
</div>
<!--  Popup finish -->

<!-- upload Doc Popup start -->

<div>
    <div class="uploadDoc">
        <div class="Popup2">
            <div
                style="height: 27px;text-align: center ;background-color: #f6f6f6;padding: 3px;font-weight: 700;color: #5a5656;">
                Upload Documents
            </div>
            <div style="padding: 28px;text-align: center;" class="toUpload">
                <span style="float: left;"><b>RC Copy :</b></span><br>
                <input type="file" id="Rc_copy1" (change)="getFiles($event)" /><br><br>
                <span style="float: left;"><b>PUCC :</b></span><br>
                <input type="file" id="Rc_copy2" (change)="getFiles($event)" /><br><br>
                <span id="errUploadDoc">Please Select Two Files</span>
            </div>
            <div style="padding: 28px;text-align: center;" class="afterUpload">
                {{docStatus}}
            </div>
        </div>
        <div class="Popup3 toUpload" style="height: 30px;padding: 4px;background-color: #0067ac;color: white;">
            <button class="Popupbutton" (click)="uploadDocs()">Upload</button>&nbsp;&nbsp;
            <button class="Popupbutton" (click)="hideuploadPopup()">Close</button>
        </div>
        <div class="Popup3 afterUploadButton" style="height: 30px;padding: 4px;background-color: #0067ac;color: white;">
            <button class="Popupbutton" (click)="hideuploadPopupok()">OK</button>
        </div>
    </div>
</div>
<!-- upload Doc Popup finish -->

<!-- RegNo Popup start -->

<div>
    <div class="RegNo">
        <div class="Popup2">
            <div
                style="height: 27px;text-align: center ;background-color: #f6f6f6;padding: 3px;font-weight: 700;color: #5a5656;">
                Card Number
            </div>
            <div style="padding: 28px;text-align: center;">
                <b> Enter Card NUmber</b>
                <input type="text" class="input w-full border mt-2 inputWidth"
                                    placeholder="Card Number" id="PopUpCardNo">
            </div>
        </div>
        <div class="Popup3" style="height: 30px;padding: 4px;">
            <button class="Popupbutton" (click)="SendCardNo()">OK</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="Popupbutton" (click)="hideCardPopup()">Close</button>
        </div>
    </div>
</div>
<!-- RegNo Popup finish -->