<!-- <div style="background-color: #00BCD4;height: 100%;">

<div class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>JBM</b></a>
           
        </div>
        <div class="card">
            <div class="body">
                    <div class="msg">Register a new membership</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line" id="nameDiv"> 
                            <input id="Name" type="text" class="form-control" name="namesurname" placeholder="Name Surname"  autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line" id="emailDiv">
                            <input id="email" type="email" class="form-control" name="email" placeholder="Email Address" >
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">phone</i>
                        </span>
                        <div class="form-line" id="mobileDiv">
                            <input id="mobile"  class="form-control" name="mobile" placeholder="Mobile Number" >
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i>Role</i>
                        </span>
                        <div class="form-line" id="roleDiv">
                            <select  class="form-control" name="role" id="role">
                                <option value="">Select Role</option>
                                <option>Admin</option>
                                <option>Manager</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line" id="passwordDiv">
                            <input id="password" type="password" class="form-control" name="password" minlength="6" placeholder="Password" >
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line" id="confirmPasswordDiv">
                            <input id="confirmPassword" type="password" class="form-control" name="confirm" minlength="6" placeholder="Confirm Password" >
                        </div>
                    </div>
                    <div class="form-group" id="termsDiv">
                        <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                        <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" (click)="validate()">SIGN UP</button>

                    <div class="m-t-25 m-b--5 align-center">
                        <a routerLink="/signin">You already have a membership?</a>
                    </div>
            </div>
        </div>
    </div>
-->
<!-- Jquery Core Js -->
<!-- <script src="../../plugins/jquery/jquery.min.js"></script> -->

<!-- Bootstrap Core Js -->
<!-- <script src="../../plugins/bootstrap/js/bootstrap.js"></script> -->

<!-- Waves Effect Plugin Js -->
<!-- <script src="../../plugins/node-waves/waves.js"></script> -->

<!-- Validation Plugin Js -->
<!-- <script src="../../plugins/jquery-validation/jquery.validate.js"></script> -->

<!-- Custom Js -->
<!-- <script src="../../js/admin.js"></script> -->
<!-- <script src="../../js/pages/examples/sign-up.js"></script> -->
<!-- </div> -->
<!-- </div> -->





<!-- BEGIN: Content -->
<div class="content">
    <div class="bigDiv">
        <div class="intro-y flex items-center mt-8 addUser">
            <h2 class="text-lg font-medium mr-auto">
                Add User
            </h2>
        </div>
        <div class="smainDiv">
            <div style="padding:11px !important;">
                <div class="s1div">
                    <div>
                        <!-- <div class="mt-3">
                    <label>User Name</label>
                    <input type="text" class="input w-full border mt-2 inputWidth" id="sUserName" name="UserName"
                        placeholder="Userame">
                    <span class="unameErr errMsg"></span>
                    </div> -->
                        <div class="mt-3">
                            <label>First Name</label>
                            <input type="text" class="input w-full border mt-2 inputWidth" id="Name" name="names"
                                placeholder="First Name">
                            <span class="nameErr errMsg"></span>
                        </div>
                        <div class="mt-3">
                            <label>Last Name</label>
                            <input type="text" class="input w-full border mt-2 inputWidth" id="Surname" name="surname"
                                placeholder="Last Name">
                            <span class="SurnameErr errMsg"></span>
                        </div>
                        <div class="mt-3">
                            <label>Email</label>
                            <input type="email" class="input w-full border mt-2 inputWidth" placeholder="Email"
                                id="email">
                            <span class="emailErr errMsg"></span>
                        </div>

                    </div>
                    <div>
                        <div class="mt-3">
                            <label>Mobile No.</label>
                            <input class="input w-full border mt-2 inputWidth" id="mobile" placeholder="Mobile Number"
                                (keypress)="KeyPressEvent($event,'Mobile')" (keyup)="ValidateNumber($event)"
                                placeholder="Mobile" inputmode="numeric"
                                onKeyPress="if(this.value.length==10) return false;" pattern="[0-9]*" maxlength="10">
                            <span class="mobileErr errMsg"></span>
                        </div>
                        <div class="mt-3">
                            <label>Password</label>
                            <input id="password" type="password" class="input w-full border mt-2 inputWidth"
                                placeholder="Password">
                            <span class="passwordErr errMsg"></span>
                        </div>
                        <div class="mt-3">
                            <label>Confirm Password</label>
                            <input id="confirmPassword" type="password" class="input w-full border mt-2 inputWidth"
                                placeholder="Confirm Password">
                            <span class="cpasswordErr errMsg"></span>
                        </div>

                    </div>
                    <div>
                        <div class="mt-3">
                            <label>Role</label>
                            <div class="mt-2 inputWidth">
                                <select data-search="true" class="tail-select w-full" id="role" style="height: 38px;border: 1px solid #dee2e6;border-radius: 8px;" (change)="selectMenu()">
                                    <option value="">Select Role</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Supervisor">Supervisor</option>
                                    <option value="GateUser">Gate User</option>
                                </select>
                                <span class="roleErr errMsg"></span>
                            </div>
                        </div>
                        <div class="mt-3">
                            <label>Menu Options</label><br>
                            <div id="list1" class="dropdown-check-list mt-2 w-full inputWidth" tabindex="100">
                                <span class="anchor inputWidth" (click)="showCheckbox()"
                                    style="min-height: 39px;max-height: fit-content;width: 100%;border: 1px solid #dee2e6;border-radius: 8px;">
                                    <span id="menuOptionNone">Select Menu Options </span>&nbsp;
                                    <span id="menuOptionUsers" class="menuDisplay">Users </span>&nbsp;
                                    <span id="menuOptionVehicles" class="menuDisplay">Vehicles </span>&nbsp;
                                    <span id="menuOptionInbound" class="menuDisplay">InboundProcess </span>&nbsp;
                                    <span id="menuOptionOutbound" class="menuDisplay">OutboundProcess </span>&nbsp;
                                    <span id="menuOptionRegister" class="menuDisplay">RegisterCard </span>&nbsp;
                                </span>
                                <ul class="items"
                                    style="position: absolute;background-color: white;width: 286px;padding-left: 13px;">
                                    <li><input type="checkbox"
                                            (click)="menuVal($event.target.checked,'users')" id="checkUsers" />&nbsp;&nbsp;&nbsp;&nbsp;Users
                                    </li>
                                    <li><input type="checkbox"
                                            (click)="menuVal($event.target.checked,'vehicles')" id="checkVehicles" />&nbsp;&nbsp;&nbsp;&nbsp;Vehicles
                                    </li>
                                    <li><input type="checkbox"
                                            (click)="menuVal($event.target.checked,'inboundProcess')" id="checkInbound" />&nbsp;&nbsp;&nbsp;&nbsp;Inbound
                                        Process </li>
                                    <li><input type="checkbox"
                                            (click)="menuVal($event.target.checked,'outboundProcess')" id="checkOutbound" />&nbsp;&nbsp;&nbsp;&nbsp;Outbound
                                        Process </li>
                                    <li><input type="checkbox"
                                            (click)="menuVal($event.target.checked,'registerCard')" id="checkRegister"/>&nbsp;&nbsp;&nbsp;&nbsp;Register
                                        Card </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mt-3">
                            <label>Emp Code.</label>
                            <input class="input w-full border mt-2 inputWidth" id="emp_code" placeholder="Emp Code"
                                (keypress)="KeyPressEvent($event,'Mobile')" (keyup)="ValidateNumber($event)" inputmode="numeric"
                                onKeyPress="if(this.value.length==10) return false;" pattern="[0-9]*" maxlength="10">
                            <span class="emp_codeErr errMsg"></span>
                        </div>
                    </div>
                </div>
                

            </div>
            <div class="justify-end mt-4" style="background-color: #2569a1;">
                <!-- <a href="" class="text-theme-6 flex items-center"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete Account </a> -->
                <button type="button" class="buttonCss" (click)="validate()">Save</button>
                <button type="button" class="buttonCss" style="color:#e58624">Reset</button>
            </div>
        </div>
    </div>
</div>
<!-- END: Content -->


<!--  Popup start -->

<div class="addFieldPopupTop" id="addFieldPopupTop">
    <div class="Popup1" id="addFieldPopup">
        <div class="Popup2">
            <div
                style="height: 27px;text-align: center ;background-color: #f6f6f6;padding: 3px;font-weight: 700;color: #5a5656;border-radius: 10px;">
                Note
            </div>
            <div style="padding: 28px;text-align: center;">
                <b> {{Message}}</b>
            </div>
        </div>
        <div class="Popup3" style="height: 30px;padding: 4px;">
            <button class="Popupbutton" (click)="hidePopup()">OK</button>
        </div>
    </div>
</div>
<!--  Popup finish -->