<div id="outerDiv">
    <div class="card">
        <div class="card-header text-light" style="background-color: #0067ac;">
            <span class="pt-5 fs-5 text-violet">TRIP MASTER</span>
            <div class="card-tools float-right">
                <button (click)="navigate('/inBound')" class="btn btn-sm fluffy">
                    <i class="fa-solid fa-plus"></i> Create Trip
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 table-responsive">
                    <table datatable class="table table-striped table-bordered table-hover" [dtOptions]="dtOptions"
                        [dtTrigger]="dtTrigger" style="width: 100%; border-top: 2px solid #e2e8f0;">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="Trip_No">Trip No.</th>
                                <th class="Consignee_Name">Consignee</th>
                                <th class="VehicleNo">Vehicle No.</th>
                                <th class="Driver_Name">Driver Name</th>
                                <th class="vehicle_mapping">Card Number</th>
                                <th class="Status">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vehicle of data" height="55px">
                                <td class="text-center">
                                    <i class="fa-solid fa-pencil text-primary"
                                        (click)="viewData('edit',vehicle.Trip_No)"></i>
                                </td>
                                <td class="Trip_No" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.Trip_No }}
                                </td>
                                <td class="Consignee_Name" (click)="viewData('view',vehicle.Trip_No)">{{
                                    vehicle.Consignee_Name }}</td>
                                <td class="VehicleNo" (click)="viewData('view',vehicle.Trip_No)">{{ vehicle.VehicleNo }}
                                </td>
                                <td class="Driver_Name" (click)="viewData('view',vehicle.Trip_No)">{{
                                    vehicle.Driver_Name }}</td>
                                <td class="vehicle_mapping" (click)="viewData('view',vehicle.Trip_No)">{{
                                    vehicle.Card_Number }}</td>
                                <!-- <td class="vehicleType">{{ vehicle.Type }}</td> -->
                                <td *ngIf="vehicle.Status === 'In transit'"
                                    style="text-transform: capitalize;font-weight: bold;" class="status text-primary"
                                    (click)="viewData('view',vehicle.Trip_No)">{{
                                    vehicle.Status }}
                                </td>
                                <td *ngIf="vehicle.Status === 'In plant'"
                                    style="text-transform: capitalize;font-weight: bold;" class="status text-warning"
                                    (click)="viewData('view',vehicle.Trip_No)">{{
                                    vehicle.Status }}
                                </td>
                                <td *ngIf="vehicle.Status === 'Completed' || vehicle.Status === 'completed'"
                                    style="text-transform: capitalize;font-weight: bold;" class="status text-success"
                                    (click)="viewData('view',vehicle.Trip_No)">{{
                                    vehicle.Status }}</td>
                                <td *ngIf="vehicle.Status === 'Close' || vehicle.Status === 'close'"
                                    style="text-transform: capitalize;font-weight: bold;" class="status text-secondary"
                                    (click)="viewData('view',vehicle.Trip_No)">
                                    {{ vehicle.Status }}</td>
                                <!-- <td class="Make">{{ vehicle.Make }}</td>
                <td class="Model">{{ vehicle.Model }}</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Popup start -->

<div>
    <div class="editInPopup1">
        <div class="Popup2" style="height: 12cm;overflow-y: scroll;">
            <div
                style="height: 35px;text-align: center ;background-color: #2569a1;padding-top: 7px;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                Edit Data
            </div>
            <div style="padding: 0px 20px;text-align: center;">
                <div class="editDiv">
                    <div class="grid grid-cols-8 gap-12">
                        <div class="col-span-12 lg:col-span-8 xxl:col-span-9">
                            <!-- BEGIN: Personal Information -->
                            <div class="intro-y box lg:mt-5">
                                <div class="p-5 mobileWidth" style="padding:11px !important;">
                                    <div class="grid grid-cols-12 gap-3">
                                        <div class="col-span-12 xl:col-span-6">
                                            <div class="">
                                                <label>Manufacturer</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Make" id="editinvehicleMake">
                                                <span class="vehicleMakeErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Insurance exp date</label><br>
                                                <input type="date" class="input w-full border mt-2 inputWidth" placeholder="Insurance exp date" id="editinvehicleInsurance_exp_date">
                                                <span class="vehicleInsurance_exp_dateErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Material</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Material" id="editinMaterial">
                                                <span class="MaterialErr errMsg"></span>
                                            </div>
                                            <!-- <div class="mt-3">
                                                <label>Issued By</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Issued By" id="editinIssued_By">
                                                <span class="Issued_ByErr errMsg"></span>
                                            </div> -->
                                            <div class="mt-3">
                                                <label>Driver Name</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Driver Name" id="editinDriver_Name" maxlength="50"
                                                    (keypress)="KeyPressEvent($event,'Text')">
                                                <span class="Driver_NameErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Consignee</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Consignee" id="editinConsignee_Name"
                                                    maxlength="50" (keypress)="KeyPressEvent($event,'Text')">
                                                <span class="Consignee_NameErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Quantity Material Weight(MT)</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Quantity Material Weight" id="editqty_mt_Weight"
                                                    pattern="[0-9]*" inputmode="numeric"
                                                    (keypress)="KeyPressEvent($event,'Double')">
                                                <span class="qty_mt_WeightErr errMsg"></span>
                                            </div>
                                            <!-- <div class="mt-3">
                                                <label>Time</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"  placeholder="Time" id="editinTime">
                                                <span class="editinTimeErr errMsg"></span>
                                            </div> -->
                                            <div class="mt-3">
                                                <label>Zone</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Zone" id="editinAddress" maxlength="150">
                                                <span class="AddressErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>LR Number</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="LR Number" id="editinlrNumber" maxlength="10"
                                                    (keypress)="KeyPressEvent($event,'VarChar')">
                                                <span class="editinlrNumberErr errMsg"></span>
                                            </div>

                                        </div>
                                        <div class="col-span-12 xl:col-span-6">
                                            <div>
                                                <label>Vehicle No</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="MH02AB1234" id="editinVnumber"
                                                    style="text-transform:uppercase" maxlength="10">
                                                <span class="VnumberErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Model</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Model" id="editinVehicleModel">
                                                <span class="VehicleModelErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>PUC exp date</label><br>
                                                <input type="date" class="input w-full border mt-2 inputWidth"  id="editinVPUC_exp_date">
                                                <span class="VPUC_exp_dateErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Material</label><br>
                                                <div class="mt-2 inputWidth">
                                                    <select data-search="true" class="tail-select w-full"
                                                        id="editinMaterial_Type"
                                                        style="height: 38px;border:1px solid #dee2e6;">
                                                        <option value="">Select Material Type</option>
                                                        <!-- <option value="Iron">Iron</option>
                                                        <option value="Steel">Steel</option> -->
                                                    </select>
                                                    <span class="roleErr errMsg"></span>
                                                </div>
                                                <span class="Material_TypeErr errMsg"></span>
                                            </div>
                                            <!-- <div class="mt-3">
                                                <label>Issued Date</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Issued Date" id="editinIssued_Date">
                                                <span class="Issued_DateErr errMsg"></span>
                                            </div> -->
                                            <div class="mt-3">
                                                <label>Mobile Number</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Driver Number" id="editinDriver_Number"
                                                    (keyup)="ValidateNumber($event)" pattern="[0-9]*"
                                                    inputmode="numeric" (keypress)="KeyPressEvent($event,'Mobile')">
                                                <span class="Driver_NumberErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>LR Date</label><br>
                                                <input type="date" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Gross Weight" id="editinlrDate">
                                                <span class="editinlrDateErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Ward</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Ward" id="editinWard" maxlength="150">
                                                <span class="WardErr errMsg"></span>
                                            </div>
                                            <div class="mt-3" style="display: none;">
                                                <label>Trip No</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Trip No" id="editinTrip">
                                                <span class="errMsg"></span>
                                            </div>
                                        </div>
                                    </div><br>
                                </div>
                            </div>
                            <!-- END: Personal Information -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Popup3"
            style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button type="button" (click)="validateEdit()" style="color:white;width: 3cm;">Update</button>&nbsp;&nbsp;
            <button type="button" (click)="closeEdit()" style="color:white;width: 3cm;">Cancel</button>
        </div>
    </div>
</div>
<!-- Edit Popup finish -->

<!-- View Popup start -->

<div class="addFieldPopupTop" id="viewPopupTop">
    <div class="inViewPopup1">
        <div class="Popup2">
            <div
                style="height: 35px;text-align: center ;background-color: #2569a1;padding-top: 7px;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                Trip Details
            </div>
            <!-- <span style="padding: 27px;font-size: 20px;font-weight: 700;">Trip Details</span> -->
            <div class="ViewDisaplayInbound">
                <div class="mview1">
                    <div style="padding: 20px;height: 11cm;
                    overflow-y: scroll;">
                        <div class="inViewTrip_No">
                            <b><label class="viewLabel">Trip Number:</label></b><span
                                id="inViewTrip_No"></span>&nbsp;&nbsp;<button (click)="copyText('inViewTrip_No')" title="Copy Trip No"
                              ><i class="fa-solid fa-copy" style="color: #2569a1;"></i></button> &nbsp;&nbsp;<span class="copied" id="copyTrip">Copied To Clipboard</span><br>
                        </div>
                        <div class="inViewVehicleNo">
                            <b><label class="viewLabel">Vehicle No: </label> </b> <span
                                id="inViewVehicleNo"></span>&nbsp;&nbsp;<button (click)="copyText('inViewVehicleNo')" title="Copy Vehicle No"    
                                ><i class="fa-solid fa-copy" style="color: #2569a1;"></i></button> &nbsp;&nbsp;<span class="copied" id="copyVN">Copied To Clipboard</span><br>
                        </div>
                        <div class="inViewDriver_Name">
                            <b><label class="viewLabel">Driver Name:</label></b><span id="inViewDriver_Name"></span><br>
                        </div>
                        <div class="inViewDriver_Number">
                            <b><label class="viewLabel">Driver No:</label></b><span id="inViewDriver_Number"></span><br>
                        </div>
                        <div class="inViewConsignee_Name">
                            <b><label class="viewLabel">Consignee: </label></b><span
                                id="inViewConsignee_Name"></span><br>
                        </div>

                        <!-- <b><label class="viewLabel">Issued By: </label><span id="inViewIssued_By"></span><br></b> -->
                        <!-- <b><label class="viewLabel">Issued Date:</label> <span id="inViewIssued_Date"></span><br></b> -->
                        <!-- <b><label class="viewLabel">Material: </label><span id="inViewMaterial"></span><br></b> -->
                        <div class="inViewMaterial_Type">
                            <b><label class="viewLabel">Material:</label></b><span id="inViewMaterial_Type"></span><br>
                        </div>
                        <div class="inViewStatus">
                            <b><label class="viewLabel">Status:</label></b><span id="inViewStatus"></span><br>
                        </div>

                        <!-- <b> -->
                        <!-- <b><label class="viewLabel">Time:</label> <span id="inViewTime"></span><br></b><br> -->
                        <!-- <div style="text-align: center;"><button class="buttonCss" (click)="hideView()">Close</button></div> -->
                        <div class="inViewQty_Mt_Weight">
                            <b><label class="viewLabel">Qty Material Wgh.:</label></b><span
                                id="inViewQty_Mt_Weight"></span><br>
                        </div>
                        <div class="inViewNet_Weight">
                            <b><label class="viewLabel">Net Weight:</label></b><span id="inViewNet_Weight"></span><br>
                        </div>
                        <div class="inViewGross_Weight">
                            <b><label class="viewLabel">Gross Weight:</label></b><span
                                id="inViewGross_Weight"></span>&nbsp;&nbsp;<span
                                id="inViewGross_Wgh_Date_time"></span><br>
                        </div>
                        <div class="inViewTare_Wgh_Date_time">
                            <b><label class="viewLabel">Tare Weight:</label></b><span
                                id="inViewTare_Weight"></span>&nbsp;&nbsp;<span
                                id="inViewTare_Wgh_Date_time"></span><br>
                        </div>
                        <div class="inViewMake">
                            <b><label class="viewLabel">Manufacturer:</label></b><span id="inViewMake"></span><br>
                        </div>
                        <div class="inViewModel">
                            <b><label class="viewLabel">Model:</label></b><span id="inViewModel"></span><br>
                        </div>
                        <div class="inViewPUC_exp_date">
                            <b><label class="viewLabel">PUC Exp Date:</label></b><span
                                id="inViewPUC_exp_date"></span><br>
                        </div>
                        <div class="inViewAddress">
                            <b>
                                <label class="viewLabel">Zone:</label></b><span id="inViewAddress"></span><br>
                        </div>
                        <div class="inViewCard_Number">
                            <b>
                                <label class="viewLabel">Card No:</label></b><span id="inViewCard_Number"></span><br>
                        </div>
                        <div class="inViewInsurance_exp_date">
                            <b>
                                <label class="viewLabel">Insurance Exp Date:</label></b><span
                                id="inViewInsurance_exp_date"></span><br>
                        </div>
                        <div class="inViewIssued_By">
                            <b>
                                <label class="viewLabel">Issued By:</label></b><span id="inViewIssued_By"></span><br>
                        </div>
                        <div class="inViewIssued_Date">
                            <b>
                                <label class="viewLabel">Issued Date:</label></b><span
                                id="inViewIssued_Date"></span><br>
                        </div>
                        <div class="inViewLrDate">
                            <b>
                                <label class="viewLabel">LR Date:</label></b><span id="inViewLrDate"></span><br>
                        </div>
                        <div class="inViewLrNumber">
                            <b>
                                <label class="viewLabel">LR Number:</label></b><span id="inViewLrNumber"></span><br>
                        </div>
                        <!-- <label class="viewLabel">Rear_Image:</label><span id="inViewRear_Image"></span><br> -->
                        <!-- <label class="viewLabel">Front_Image:</label><span id="inViewFront_Image"></span><br> -->
                        <div class="inViewRemark_Field">
                            <b>
                                <label class="viewLabel">Remark Field:</label></b><span
                                id="inViewRemark_Field"></span><br>
                        </div>
                        <!-- <label class="viewLabel">Time:</label><span id="inViewTime"></span><br>
                        <label class="viewLabel">Type:</label><span id="inViewType"></span><br> -->
                    </div>
                    <div style="display: grid;grid-template-columns: 6cm;column-gap: 2px;height: 11cm;">
                        <div style="height: 5cm;padding: 10px;">
                            <!-- <span id="docViewStatusIn"></span>
                            <label id="doc1NameIn"></label><br> -->
                            <img class="docImgIn" id="docImage1In" style="max-height: 185px;"><br><br>
                        </div>
                        <div style="height: 5cm;padding: 10px;">
                            <!-- <label id="doc2NameIn"></label><br> -->
                            <img class="docImgIn" id="docImage2In" style="max-height: 185px;">
                        </div>
                    </div>
                </div>
                <!-- <div>
                </div>
                <div>
                </div> -->
                <div style="padding: 20px;">

                </div>
            </div>
        </div>
        <div class="Popup3"
            style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;position: absolute;">
            <button (click)="hideView()" style="color:white;width: 3cm;">OK</button>
        </div>
    </div>
</div>
<!-- View Popup finish -->

<!-- Message Popup start -->
<div>
    <div class="inPopup1message">
        <div class="Popup2">
            <div
                style="height: 27px;text-align: center ;background-color: #2569a1;padding: 0;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">

            </div>
            <!-- <div
          style="height: 27px;text-align: center ;background-color: #f6f6f6;padding: 3px;font-weight: 700;color: #5a5656;border-radius: 10px;">
          Vehicle Data
        </div> -->
            <div style="padding: 28px;">
                {{Message}}
            </div>
        </div>
        <div class="Popup3 inPopupMessagebutton"
            style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button (click)="hideMessagePopup()" style="color:white;width: 3cm;">OK</button>
        </div>
    </div>
</div>
<!-- Message Popup finish -->