<div id="outerDiv">
    <!-- <button class="buttonCss" routerLink="/inBound">Create Trip</button><br><br> -->
    <button (click)="navigate('/inBound')" style="color: white;background: #1d40aa;border: none;border-radius: 4px;height: 36px;padding: 5px 5px 5px 5px;width: 110px;">Create Trip</button><br><br>
    <table datatable class="table table-striped table-bordered table-sm row-border hover display nowrap" [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger" style="width:100%">
        <thead>
            <tr>
                <th class="imageDiv">&nbsp;&nbsp;&nbsp;</th>
                <th class="Trip_No">Trip No.</th>
                <th class="VehicleNo">Vehicle No.</th>
                <th class="Driver_Name">Driver Name</th>
                <th class="Consignee_Name">Consignee Name</th>
                <th class="vehicle_mapping">Card Number</th>
                <th class="Status">Status</th>
                <!-- <th class="Make">Make</th>
                <th class="Model">Model</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehicle of data" height="55px">
                <td>
                    <div style="display: flex;" class="imageDiv">
                        <div (click)="viewData('edit',vehicle.Trip_No)">
                            <!-- <i data-feather="edit" style="height: 18px;"></i> -->
                            <img src="assets/images/edit-icon3.png" style="height: 22px;">
                        </div>&nbsp;&nbsp;
                        <div (click)="viewData('view',vehicle.Trip_No)">
                            <!-- <i data-feather="eye" style="height: 18px;"></i> -->
                            <img src="assets/images/eye-icon2.png" style="height: 20px;">
                        </div>
                    </div>
                </td>
                <td class="Trip_No">{{ vehicle.Trip_No }}</td>
                <td class="VehicleNo">{{ vehicle.VehicleNo }}</td>
                <td class="Driver_Name">{{ vehicle.Driver_Name }}</td>
                <td class="Consignee_Name">{{ vehicle.Consignee_Name }}</td>
                <td class="vehicle_mapping"></td>
                <td style=""></td>
                <!-- <td class="Make">{{ vehicle.Make }}</td>
                <td class="Model">{{ vehicle.Model }}</td> -->
            </tr>
        </tbody>
    </table>
</div>

<!-- Edit Popup start -->

<div>
    <div class="editInPopup1">
        <div class="Popup2">
            <div
            style="height: 35px;text-align: center ;background-color: #2569a1;padding-top: 7px;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                Edit Data
            </div>
            <div style="padding: 0px 20px;text-align: center;">
                <div class="editDiv">
                    <div class="grid grid-cols-8 gap-12">
                        <div class="col-span-12 lg:col-span-8 xxl:col-span-9">
                            <!-- BEGIN: Personal Information -->
                            <div class="intro-y box lg:mt-5">
                                <div class="p-5 mobileWidth" style="padding:11px !important;">
                                    <div class="grid grid-cols-12 gap-3">
                                        <div class="col-span-12 xl:col-span-6">
                                            <!-- <div class="">
                                                <label>Make</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Make" id="editinvehicleMake">
                                                <span class="vehicleMakeErr errMsg"></span>
                                            </div> -->
                                            <!-- <div class="mt-3">
                                                <label>Insurance exp date</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Insurance exp date" id="editinvehicleInsurance_exp_date">
                                                <span class="vehicleInsurance_exp_dateErr errMsg"></span>
                                            </div> -->
                                            <!-- <div >
                                                <label>Material</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Material" id="editinMaterial">
                                                <span class="MaterialErr errMsg"></span>
                                            </div> -->
                                            <!-- <div class="mt-3">
                                                <label>Issued By</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Issued By" id="editinIssued_By">
                                                <span class="Issued_ByErr errMsg"></span>
                                            </div> -->
                                            <div>
                                                <label>Driver Name</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Driver Name" id="editinDriver_Name" maxlength="50"  (keypress)="KeyPressEvent($event,'Text')">
                                                <span class="Driver_NameErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Consignee Name</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Consignee Name" id="editinConsignee_Name" maxlength="50" (keypress)="KeyPressEvent($event,'Text')">
                                                <span class="Consignee_NameErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>Quantity Material Weight(MT)</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"  placeholder="Quantity Material Weight" id="editqty_mt_Weight" pattern="[0-9]*" inputmode="numeric" (keypress)="KeyPressEvent($event,'Double')">
                                                <span class="qty_mt_WeightErr errMsg"></span>
                                            </div>
                                            <!-- <div class="mt-3">
                                                <label>Time</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"  placeholder="Time" id="editinTime">
                                                <span class="editinTimeErr errMsg"></span>
                                            </div> -->
                                            <div class="mt-3">
                                                <label>Address</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Address" id="editinAddress" maxlength="150">
                                                <span class="AddressErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>LR Number</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth"
                                                    placeholder="LR Number" id="editinlrNumber" maxlength="10" (keypress)="KeyPressEvent($event,'VarChar')">
                                                <span class="editinlrNumberErr errMsg"></span>
                                            </div>
                                        </div>
                                        <div class="col-span-12 xl:col-span-6">
                                            <div>
                                                <label>Vehicle No</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="MH02AB1234" id="editinVnumber" disabled>
                                                <span class="VnumberErr errMsg"></span>
                                            </div>
                                            <!-- <div class="mt-3">
                                                <label>Model</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Model" id="editinVehicleModel">
                                                <span class="VehicleModelErr errMsg"></span>
                                            </div> -->
                                            <!-- <div class="mt-3">
                                                <label>PUC exp date</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="PUC exp date" id="editinVPUC_exp_date">
                                                <span class="VPUC_exp_dateErr errMsg"></span>
                                            </div> -->
                                            <div class="mt-3">
                                                <label>Material</label><br>
                                                <div class="mt-2 inputWidth">
                                                    <select data-search="true" class="tail-select w-full" id="editinMaterial_Type" style="height: 38px;border:1px solid #dee2e6;">
                                                        <option value="">Select Material Type</option>
                                                        <!-- <option value="Iron">Iron</option>
                                                        <option value="Steel">Steel</option> -->
                                                    </select>
                                                    <span class="roleErr errMsg"></span>
                                                </div>
                                                <span class="Material_TypeErr errMsg"></span>
                                            </div>
                                            <!-- <div class="mt-3">
                                                <label>Issued Date</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Issued Date" id="editinIssued_Date">
                                                <span class="Issued_DateErr errMsg"></span>
                                            </div> -->
                                            <div class="mt-3">
                                                <label>Driver Number</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Driver Number" id="editinDriver_Number" (keyup)="ValidateNumber($event)" pattern="[0-9]*" inputmode="numeric" (keypress)="KeyPressEvent($event,'Mobile')">
                                                <span class="Driver_NumberErr errMsg"></span>
                                            </div>
                                            <div class="mt-3">
                                                <label>LR Date</label><br>
                                                <input type="date" class="input w-full border mt-2 inputWidth"
                                                    placeholder="Gross Weight" id="editinlrDate">
                                                <span class="editinlrDateErr errMsg"></span>
                                            </div>
                                            <div class="mt-3" style="display: none;">
                                                <label>Trip No</label><br>
                                                <input type="text" class="input w-full border mt-2 inputWidth" placeholder="Trip No" id="editinTrip">
                                                <span class="errMsg"></span>
                                            </div>
                                        </div>
                                    </div><br>
                                </div>
                            </div>
                            <!-- END: Personal Information -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Popup3" style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button type="button" (click)="validateEdit()" style="color:white;width: 3cm;">Update</button>&nbsp;&nbsp;
            <button type="button" (click)="closeEdit()" style="color:white;width: 3cm;">Cancel</button>
        </div>
    </div>
</div>
<!-- Edit Popup finish -->

<!-- View Popup start -->

<div class="addFieldPopupTop" id="viewPopupTop">
    <div class="inViewPopup1">
        <div class="Popup2">
            <div
            style="height: 35px;text-align: center ;background-color: #2569a1;padding-top: 7px;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                Trip Details
            </div>
            <!-- <span style="padding: 27px;font-size: 20px;font-weight: 700;">Trip Details</span> -->
            <div class="ViewDisaplayInbound">
            <div style="padding: 28px;">
                <!-- <b> -->
                    <label class="viewLabel">Trip Number:</label><span id="inViewTrip_No"></span><br>
                <!-- </b> -->
                <!-- <b> -->
                    <label class="viewLabel">Vehicle Number: </label> <span id="inViewVehicleNo"></span><br>
                <!-- </b> -->
                <!-- <b> -->
                    <label class="viewLabel">Driver Name:</label><span id="inViewDriver_Name"></span><br>
                <!-- </b> -->
                <!-- <b> -->
                    <label class="viewLabel">Driver Number:</label><span id="inViewDriver_Number"></span><br>
                <!-- </b> -->
                <!-- <b> -->
                    <label class="viewLabel">Consignee Name: </label><span id="inViewConsignee_Name"></span><br>
                <!-- </b> -->
                <!-- <b><label class="viewLabel">Issued By: </label><span id="inViewIssued_By"></span><br></b> -->
                <!-- <b><label class="viewLabel">Issued Date:</label> <span id="inViewIssued_Date"></span><br></b> -->
                <!-- <b><label class="viewLabel">Material: </label><span id="inViewMaterial"></span><br></b> -->
                <!-- <b> -->
                    <label class="viewLabel">Material:</label><span id="inViewMaterial_Type"></span><br>
                <!-- </b> -->
                <!-- <b> -->
                    <label class="viewLabel">Qty_Mt_Weight:</label><span id="inViewQty_Mt_Weight"></span><br>
                <!-- </b> -->
                <!-- <b><label class="viewLabel">Time:</label> <span id="inViewTime"></span><br></b><br> -->
                <!-- <div style="text-align: center;"><button class="buttonCss" (click)="hideView()">Close</button></div> -->
            </div>
            <div style="display: grid;grid-template-columns: 6cm 6cm;column-gap: 10px;">
                <div>
                <span id="docViewStatusIn"></span>
                <label id="doc1NameIn"></label><br>
                <img  class="docImgIn" id="docImage1In" style="max-height: 185px;"><br><br></div>
                <div>
                <label id="doc2NameIn"></label><br>
                <img  class="docImgIn" id="docImage2In" style="max-height: 185px;"></div>
            </div>
            <div>   
            </div>
            <div>
            </div>
        </div>
        </div>
        <div class="Popup3" style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;position: absolute;">
            <button (click)="hideView()" style="color:white;width: 3cm;">OK</button>
      </div>
    </div>
</div>
<!-- View Popup finish -->

<!-- Message Popup start -->
<div>
    <div class="inPopup1message">
        <div class="Popup2">
            <div
            style="height: 27px;text-align: center ;background-color: #2569a1;padding: 0;font-weight: 700;color: white;border-radius: 8px 8px 0px 0px;">
                
            </div>
            <!-- <div
          style="height: 27px;text-align: center ;background-color: #f6f6f6;padding: 3px;font-weight: 700;color: #5a5656;border-radius: 10px;">
          Vehicle Data
        </div> -->
            <div style="padding: 28px;">
                {{Message}}
            </div>
        </div>
        <div class="Popup3 inPopupMessagebutton" style="height: 30px;padding: 4px;bottom:0;width: 100%;background-color: #2569a1;height: 30px;border-radius: 0px 0px 8px 8px;">
            <button (click)="hideMessagePopup()" style="color:white;width: 3cm;">OK</button>
        </div>
    </div>
</div>
<!-- Message Popup finish -->