<div id="outerDiv">
    <button class="buttonCss" style="color: white;" routerLink="/vehicle">Add Vehicle</button><br><br>
    <table datatable class="table table-striped table-bordered table-sm row-border hover display nowrap" [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger" style="width:100%">
        <thead>
            <tr>
                <th class="Created_By">Created<br>By</th>
                <!-- <th class="Created_On">Created<br>On</th> -->
                <th class="Insurance_exp_date">Insurance <br>exp_date</th>
                <th class="Make">Make</th>
                <th class="Model">Model</th>
                <th class="Modified_By">Modified_By</th>
                <!-- <th class="Modified_On">Modified <br>On</th> -->
                <th class="PUC_exp_date">PUC_exp_date</th>
                <th class="Status">Status</th>
                <th class="VehicleNo">Vehicle<br>No</th>
                <th class="VehicleType">Vehicle<br>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehicle of data" height="55px">
                <td class="Created_By">{{ vehicle.Created_By }}</td>
                <!-- <td class="Created_On">{{ vehicle.Created_On }}</td> -->
                <td class="Insurance_exp_date">{{ vehicle.Insurance_exp_date }}</td>
                <td class="Make">{{ vehicle.Make }}</td>
                <td class="Model">{{ vehicle.Model }}</td>
                <td class="Modified_By">{{ vehicle.Modified_By }}</td>
                <!-- <td class="Modified_On">{{ vehicle.Modified_On }}</td> -->
                <td class="PUC_exp_date">{{ vehicle.PUC_exp_date }}</td>
                <td class="Status">{{ vehicle.Status }}</td>
                <td class="VehicleNo">{{ vehicle.VehicleNo }}</td>
                <td class="VehicleType">{{ vehicle.VehicleType }}</td>
            </tr>
        </tbody>
    </table>
</div>